###########################################################################
# Vizamly Gitignore
# 
#
###########################################################################

.DS_Store
**/.DS_Store
