!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/public/javascripts
/public/system
/tags
/tmp/*
/vendor/*
# Lets avoid changing ruby version on production for now
.ruby-version
