<div class='devise registrations institution row'>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
  </div>
  <div class='small-6 medium-6 large-6 columns with-content with-minimum'>
    <ul class='progress'>
      <li></li>
      <li class='selected'></li>
      <li></li>
      <li></li>
    </ul>
    <h1>Please enter your institution.</h1>
    <p>Please enter the institution to which you refer patients in the box below.</p>
    <%= simple_form_for(@user, url: users_enrole_path, html: { method: :put, class: 'form' }) do |f| %>
      <%= render 'tmp_storage_fields', f: f %>
      <div class='form-inputs'>
        <%= f.input :institution, as: :string, required: false %>
      </div>
      <div class='form-actions button-container'>
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          Next<i class='fi-arrow-right'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
