.loading-page {

  .loader {
    width: 400px;
    height: 400px;
    margin: auto;
    position: absolute;
    top: 0;
    right: -30px;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    @include retina-background-image('loader', 400px, 400px, 'gif');
  }

}
