.test-page {

  .columns.with-content {
    padding-top: rem-calc(15);
  }

  h1 {
    margin-bottom: rem-calc(20);
  }

  @import 'image_scroller';

  ol {
    margin-left: 0.9em;
  }

  .test-progress {
    margin-bottom: rem-calc(20);

    p {
      color: $primary-color;
      margin-bottom: rem-calc(7);
    }

    ul {
      @extend .inline-list;
      counter-reset: question;

      li:before {
        counter-increment: question;
        content: counter(question);
      }

      li {
        width: 20px;
        height: 20px;
        background-color: #DDD;
        border-radius: 50%;
        // padding-top: 4px;
        margin-right: 10px;
        text-align: center;
        line-height: 20px;
        color: white;
        font-weight: normal;
        font-size: 12px;
      }

      .active {
        background-color: $primary-color;
      }

      .answered {
        background-color: lighten($primary-color, 40);
      }
    }

  }

  .question-results {

    .circle {
      margin-right: 10px;
      margin-top: 5px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      display: inline;
      float: right;
    }

    .incorrect {
      background: red;
    }

    .correct {
      background: green;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 20px;
      margin-top: 30px;
      line-height: 32px;
      font-weight: normal;

      li {
        border-bottom: 1px solid #666;
        font-size: 14px;
      }

    }

  }

  .test {

    .question {
      display: inline-block;

      label {
        margin-right: 0;
      }

      input {
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 25px;
        float: left;
        width: 15px;
      }

      .body {
        float: right;
        width: 325px;

        p:only-child {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
        }

        h2 {
          font-size: 22px;
          border-bottom: 1px solid #666;
        }

        li {
          font-size: 16px;
          line-height: 1.2;
          color: #666;
        }

      }

    }

  }

  .test-case {

    .question {
      display: inline-block;
      min-width: 300px;

      h2 {
        font-weight: bold;
        font-size: rem-calc(16);
      }

      label {
        display: inline;
        width: 200px;
        margin-right: 25px;
      }

      input {
        margin-right: 10px;
        width: 15px;
      }

      .body {
        display: inline-block;
        color: #666;
      }

    }
  }

  .rainbow-reference {
    width: 53px;
    height: 500px;
    @include retina-background-image('rainbow-reference', 53px, 500px);
  }

  .image-scroller-zoom {
    width: 550px;
    height: 500px;
    border: 1px solid #ccc;
    cursor: pointer;
    @include retina-background-image('image-scroller-zoom', 550px, 500px);
  }

}
