.text-page {

  h1 {
    margin-bottom: rem-calc(20);
    font-weight: bold;
  }

  p {
    color: $primary-color;
  }

  ul {
    color: $primary-color;
  }

  .abbreviations {
    position: absolute;
    bottom: 0px;

    p {
      font-size: rem-calc(14);
      margin-bottom: 0;
    }
  }

}

.text-page.super-user {
  border: solid 1px #1CC444;
}
