.text-page {
  font-weight: normal;

  h1 {
    margin-bottom: rem-calc(20);
    font-weight: bold;
  }

  p {
  }

  ul {
    margin-top: rem-calc(5);
    margin-bottom: rem-calc(5);
  }

  .abbreviations {
    position: absolute;
    bottom: 0px;

    p {
      font-size: rem-calc(14);
      margin-bottom: 0;
    }
  }

}

.text-page.super-user {
  border: solid 1px #1CC444;
}
