.text-page {
  font-weight: normal;

  h1 {
    margin-bottom: rem-calc(20);
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }

  ul {
    list-style-position: inside;
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(10);
  }

}
