.video-page {

  h1 {
    margin-bottom: rem-calc(20);
  }

  .video-js.vjs-fullscreen {
    border: none !important;
  }

  video {
    max-width: 100%;
    height: 100%;
  	margin: 0 auto;
  	display: block;
  	position: relative;
  }
}
