<h1>What Country?</h1>
<div id="browser" style="margin:auto;height:200;width:300"></div>
<h1>Exit page</h1>
<div id="browser2" style="margin:auto;height:200;width:300"></div>
<script type="text/javascript" src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1"}]}'></script>
<script>
  function drawVisualization() {
     var browserWrapper = new google.visualization.ChartWrapper({
       "containerId": "browser",
       "dataSourceUrl": "https://vizamyl-int-english.appspot.com/query?id=ahVzfnZpemFteWwtaW50LWVuZ2xpc2hyFQsSCEFwaVF1ZXJ5GICAgICAgIAKDA&format=data-table-response",
       "refreshInterval": 43000,
       "chartType": "GeoChart",
       "options": {           
          "showRowNumber" : true,
          "width": 300,
          "height": 200,
          "is3D": false,
          "title": "Where are users visiting from?"
       }
     });
     browserWrapper.draw();
     var browserWrapper2 = new google.visualization.ChartWrapper({
       "containerId": "browser2",
       "dataSourceUrl": "https://vizamyl-int-english.appspot.com/query?id=ahVzfnZpemFteWwtaW50LWVuZ2xpc2hyFQsSCEFwaVF1ZXJ5GICAgIC8oYIKDA&format=data-table-response",
       "refreshInterval": 36000,
       "chartType": "PieChart",
       "options": {
          "showRowNumber" : true,
          "width": 300,
          "height": 200,
          "is3D": false,
          "title": "On which page do users exit the site?"
       }
     });
    browserWrapper2.draw(); 
  }
   drawVisualization();
</script>
