<div {{bind-attr class=':img_wrapper :left loaded:loaded:loading'}}>
  <img {{bind-attr src=source style="style" height=imageHeightMax}} draggable=false class='img-responsive'/>
  <div class='spinner'></div>
</div>
