<div {{bind-attr class=':img_wrapper :left loaded:loaded:loading'}} style="min-width: 550px;">
  <img {{bind-attr src=source style="style" height=imageHeightMax}} draggable=false class='img-responsive'/>
  <div class='spinner'></div>
</div>
