<div {{bind-attr class=':image_wrapper :left loaded:loaded:loading'}} style='border: solid 1px #CCC;'>
  <img {{bind-attr src=source style="style" height=imageHeightMax}} width=550px height=500px draggable=false class='img-responsive'/>
  <div class='spinner'></div>
</div>
