<div {{bind-attr class=":img_wrapper :left loaded:loaded:loading" }}>
  <img {{bind-attr src=src}} draggable=false height="1000"/>
  <div class="spinner"></div>
</div>
{{input type="range" class="right vertical range" name="range" min=rangeMin max=rangeMax value=rangeValue}}
