<div {{bind-attr class=':img_wrapper :left loaded:loaded:loading'}}>
  <img {{bind-attr src=source style="style" height=imageHeightMax}} draggable=false/>
  <div class='spinner'></div>
</div>
<div class='dragdealer'>
  <div class='handle'>
    <i class='fi-list'></i>
  </div>
</div>
<div class='label'>
  <p>{{label}}</p>
</div>
