<div {{bind-attr class=':image_wrapper :left loaded:loaded:loading' width=imageWidth height=imageHeight}}>
  <div class='spinner'></div>
  <div {{bind-attr class=':image_holder' style=style}}>
    {{#each image in images}}
      <img {{bind-attr src=image}}/>
    {{/each}}
  </div>
</div>
<div class='dragdealer'>
  <div class='handle'>
    <i class='fi-list'></i>
  </div>
</div>
<div class='label'>
  <p>{{label}}</p>
</div>
