<div {{bind-attr class=':image_wrapper :xleft loaded:loaded:loading' width=imageWidth height=imageHeight}}>
  <img>
  <div class='spinner'></div>
  <div {{bind-attr class=':image_holder' style=style}}></div>
</div>
<div class='dragdealer'>
  <div class='handle'>
  </div>
</div>
<p {{bind-attr class=':label' style=labelStyle}}>{{label}}</p>
