<div class="progression-amount right"><h4>100%</h4></div>
<ul class="progression-blocks right">
  <li class="block">1a</li>
  <li class="block">1b</li>
  <li class="block">2a</li>
  <li class="block">2b</li>
  <li class="block">3</li>
  <li class="block">4a</li>
  <li class="block">4b</li>
</ul>
