<section id="contact__area" class="contact__area">
  <div class="container">
    <div class="contact__wrap">
      <div class="contact__content">
        <div class="row">
          <%= simple_format t('.left.title'), {}, wrapper_tag: 'h1' %>
          <div class="col-md-12">
          <%= t('.left.body_html') %>
          </div>
          <!-- <div class="col-md-5">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
