<div class='contact row'>
  <div class='large-9 columns with-content with-minimum left'>
    <%= simple_format t('.left.title'), {}, wrapper_tag: 'h1' %>
    <%= t('.left.body_html') %>
  </div>
  <div class="large-3 columns with-content with-minimum right">
  </div>
</div>
