<div class="contact row">
  <div class="large-6 columns with-content with-minimum left">
    <%= simple_format t('.left.title'), {}, wrapper_tag: 'h1' %>
    <%= t('.left.body_html') %>
  </div>
  <div class="large-6 columns with-content with-minimum right">
    <%= simple_format t('.right.title'), {}, wrapper_tag: 'h1' %>
    <%= t('.right.body_html') %>
  </div>
</div>
