<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Program</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <div>
      <p>This online program was developed for the United States.</p>
      <p>Click here to proceed if you are a Healthcare Professional from the United States</p>
      <a href="<%= new_non_european_enrol_url(locale: 'en-us', works_in_us: 'true') %>" class="locale">
        <p class="language">I am from the <strong>United States</strong></p>
      </a>
      <br/>
      <br/>
      <p>Click here to proceed if you are a Healthcare Professional from
        <strong>Hong Kong</strong>,
        <strong>Singapore</strong>,
        <strong>Australia</strong> or any <strong>other country</strong></p>
      <a href="<%= new_non_european_enrol_url(locale: 'en-us') %>" class="locale">
        <p class="language">I am from <strong>Hong Kong, Singapore, Australia or any other country</strong></p>
      </a>
    </div>
  </div>
</section>
