<div class='row'>
  <div class='large-12 large-centered map'>
    <div style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>
      <p>Please choose a language.</p>
      <hr>
      <div class="swiss-languages">
        <a href="/en-gb" class="locale">
          <p class="language">English</p>
        </a>
        <a href="/fr" class="locale">
          <p class="language">Français</p>
        </a>
      </div>
      <hr>
    </div>
  </div>
</div>
