<div class='row'>
  <div class='large-12 large-centered map swiss'>
    <div style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>
      <p>This online program was based on the European Vizamyl<sup
        class='trade-mark'>&trade;</sup> (Flutemetamol F18) Summary of Products
        Characteristics (SmPC). There are certain differences between the Swiss
        Package Insert (PI) and the European SmPC due to the national marketing
        authorization issued by Swissmedic.</p>

      <p>This electronic training contains important information to ensure
      accurate and reliable interpretation of PET imagines when using Vizamyl
      and serves as additional risk reduction measures to provide guidance to
      healthcare professionals. Side effects associated with the use of Vizamyl
      should be reported via electronic exchange to the Safety of Medicines
      Division, Risk Management Unit Swissmedic.</p>

      <p>Please review the Swiss Vizamyl PI on Swissmedicinfo before you continue.<br><a style="font-weight:normal;" href="http://www.swissmedicinfo.ch/" target="_blank">http://www.swissmedicinfo.ch</a></p>
      <hr>
      <div class="swiss-languages">
        <p class="disclaimer">By continuing you agree that you have read and understood the Swiss PI.</p>
        <a href="https://at.readvizamyl.com/de-at?origin=ch&probably_swiss=true" class="locale">
          <p class="language">Deutsch</p>
        </a>
        <a href="/fr?probably_swiss=true" class="locale">
          <p class="language">Français</p>
        </a>
        <a href="https://it.readvizamyl.com/it?origin=ch&probably_swiss=true" class="locale">
          <p class="language">Italiano</p>
        </a>
      </div>
      <hr>
    </div>
  </div>
</div>
