<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Programme</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <p>
      <strong>Hlášení podezření na nežádoucí účinky</strong>
    </p>

    <p>
      Hlášení podezření na nežádoucí účinky po registraci léčivého přípravku je důležité. Umožňuje to pokračovat ve sledování poměru přínosů a rizik léčivého přípravku. Žádáme zdravotnické pracovníky, aby hlásili podezření na nežádoucí účinky prostřednictvím webového formuláře sukl.gov.cz/nezadouciucinky
    </p>
    
    <p>
      případně na adresu:
    </p>
    <p>
      Státní ústav pro kontrolu léčiv<br/>
      Šrobárova 49/48<br/>
      100 00 Praha 10<br/>
      e-mail: <a href="maailto:farmakovigilance@sukl.gov.cz">farmakovigilance@sukl.gov.cz</a>
    </p>

    <br/>
    <hr>
    <p> By continuing you agree you have read and understood this. </p>
    <hr>
    <br/>

    <div class="belgian-proceed">
      <!-- <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
        <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a> -->
      <a class="btn btn-primary locale" href='/en-gb'>
        Proceed to training
        <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
      </a>
    </div>
  </div>
</section>
