<div class='row'>
  <div class='large-12 large-centered map'>
    <div class="belgian" style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>

      <br/>

      <h3 style="text-align: center; color: black; font-weight: bold;">Reporting of suspected adverse reactions</h3>
      <p>
        We would like to remind you that according to the Bulgarian Law for Medicinal Products in Human Medicine, 
        the healthcare professionals shall be obliged to immediately report to the marketing authorisation holder 
        or to the Bulgarian drug agency (BDA) any suspected serious adverse drug reaction and to provide upon request 
        additional information from the vigilance of the case.
      </p>

      <p>
        <strong>Bulgarian drug agency (BDA)</strong><br/>
        8, Damyan Gruev, str.<br/>
        1303 Sofia, Bulgaria<br/>
        tel.: +359 2 8903 417<br/>
        fax: +359 2 8903 434<br/>
        e-mail: <a href="mailto:bda@bda.bg">bda@bda.bg</a><br/>
        <a href="https://www.bda.bg/bg/формуляр-за-съобщаване-на-нежелани-лекарствени-реакции-от-медицински-специалисти" target="_blank">
          BDA Form for Reporting Adverse Drug Reactions
        </a>
      </p>

      <br/>

      <h3 style="text-align: center; color: black; font-weight: bold;">Призив за съобщаване на нежелани лекарствени реакции</h3>
      <p>
        Бихме искали да напомним, че медицинските специалисти са задължени според Закона за лекарствените продукти 
        в хуманната медицина (ЗЛПХМ) да съобщават незабавно на Притежателя на разрешението за употреба или на 
        Изпълнителна агенция по лекарствата (ИАЛ) за всяка подозирана сериозна нежелана лекарствена реакция и да 
        предоставят при поискване допълнителна информация от проследяването на случая.
      </p>

      <p>
        <strong>Изпълнителна агенция по лекарствата (ИАЛ)</strong><br/>
        ул. Дамян Груев № 8<br/>
        1303, гр. София, Р. България<br/>
        тел.: +359 2 8903 417<br/>
        факс: +359 2 8903 434<br/>
        e-mail: <a href="mailto:bda@bda.bg">bda@bda.bg</a><br/>
        <a href="https://www.bda.bg/bg/формуляр-за-съобщаване-на-нежелани-лекарствени-реакции-от-медицински-специалисти" target="_blank">
          Формуляр за съобщаване на нежелани лекарствени реакции
        </a>
      </p>
    </div>


    <hr>
    <div class="belgian-proceed button-container">
      <a href="/en-gb" class="locale">
        <p class="language">Proceed to training</p>
        <i class="fi-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
