<div class='row'>
  <div class='large-12 large-centered map'>
    <div style="background: rgba(255,255,255, 0.5)">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol 18F Injection)</h1>
      <h2>Electronic training programme</h2>
      <p><span class='blue'>This site is intended for medical professionals only</span><br> To proceed, please select which country you are from.</p>
      <%= render partial: 'errors/locale_links' %>
    </div>
  </div>
</div>
