<div class='row'>
  <div class='large-12 large-centered map'>
    <div style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>
      <hr>
      <div>
        <p>This online program was developed for the United States.</p>
        <p>Click here to proceed if you are a Healthcare Professional from the United States</p>
        <a href="<%= new_non_european_enrol_url(locale: 'en-us', works_in_us: 'true') %>" class="locale">
          <p class="language">I am from the <strong>United States</strong></p>
        </a>
        <p>Click here to proceed if you are a Healthcare Professional from
          <strong>Hong Kong</strong>,
          <strong>Singapore</strong>,
          <strong>Australia</strong> or any <strong>other country</strong></p>
        <a href="<%= new_non_european_enrol_url(locale: 'en-us') %>" class="locale">
          <p class="language">I am from <strong>Hong Kong, Singapore, Australia or any other country</strong></p>
        </a>
      </div>
      <hr>
    </div>
  </div>
</div>
