<div class="customPage">
  <nav class="navbar navbar-dark bg-primary">
    <div class="container ntb">
      <ul class="nav">
        <li class="nav-item">
        </li>
      </ul>
      <p class="ms-auto global-brand pt-3">
        <a class="logo">
          Vizamyl<sup class="trade-mark">™</sup>
        </a>
        <span><span>Flutemetamol (<sup>18</sup>F)</span></span>
        <span><span>Injection</span></span>
      </p>
    </div>
  </nav>
  <div class='row'>
    <div class='large-12 large-centered map choose-location'>
      <h4>Welcome to the Vizamyl<sup class='trade-mark'>&trade;</sup> training for image readers</h4>
      <h4>Please select the country where you are located</h4>
      <%= render partial: 'errors/locale_links' %>
      <p><span class='blue'>This site is intended for healthcare professionals only.</span><br> By proceeding, you confirm that you are a healthcare professional.</p>
    </div>
  </div>
  <div class="container ntb">
    <footer class="footer">
      <div class="terms row">
        <div class="large-6 text-left">
          <div class="copyright">
            <footer>
              <div class='terms'>
                <div class='small-6 medium-6 large-6 columns'>
                  <p style="padding-left: 0;">© 2024 GE HealthCare.</p>
                  <p style="padding-left: 0;">Vizamyl is a trademark of GE HealthCare.</p>
                  <p style="padding-left: 0; white-space: nowrap;">GE is a trademark of General Electric Company used under trademark license.</p>
                  <p style="padding-left: 0;"><a href="/en/terms-and-conditions">Terms and conditions</a></p>
                </div>
              </div>
            </footer>
          </div>
        </div>
        <div class="large-6 text-right">
          <p>
            <a href="/en" >GE Healthcare Representatives Use Only.</a>
          </p>
        </div>
      </div>
    </footer>
  </div>
</div>
