<div class='row'>
  <div class='large-12 large-centered map'>
    <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> Flutemetamol <sup class='one-eight'>18</sup>F Injection</h1>
    <h2>Electronic training programme</h2>
    <p><span class='blue'>This site is intended for medical professionals only</span><br> To proceed, please select which country you are from.</p>
    <%= render partial: 'errors/locale_links' %>
  </div>
</div>
