<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Programme</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
      <h4 style="text-align: center; font-weight: 600;">Reporting of suspected adverse reactions</h4>
      <div>
        <p  style="line-height:28px;">
          We would like to remind you that according to the Bulgarian Law for Medicinal Products in Human Medicine, 
          the healthcare professionals shall be obliged to immediately report to the marketing authorisation holder 
          or to the Bulgarian drug agency (BDA) any suspected serious adverse drug reaction and to provide upon request 
          additional information from the vigilance of the case.
        </p>

        <p  style="line-height:28px;">
          <strong style="font-weight: 600;">Bulgarian drug agency (BDA)</strong><br/>
          8, Damyan Gruev, str.<br/>
          1303 Sofia, Bulgaria<br/>
          tel.: +359 2 8903 417<br/>
          fax: +359 2 8903 434<br/>
          e-mail: <a href="mailto:bda@bda.bg">bda@bda.bg</a><br/>
          <a href="https://www.bda.bg/bg/формуляр-за-съобщаване-на-нежелани-лекарствени-реакции-от-медицински-специалисти" target="_blank">
            BDA Form for Reporting Adverse Drug Reactions
          </a>
        </p>
    </div>

      <br/>

      <h4 style="text-align: center; font-weight: 600;">Призив за съобщаване на нежелани лекарствени реакции</h4>
      <div>
        <p  style="line-height:28px;">
          Бихме искали да напомним, че медицинските специалисти са задължени според Закона за лекарствените продукти 
          в хуманната медицина (ЗЛПХМ) да съобщават незабавно на Притежателя на разрешението за употреба или на 
          Изпълнителна агенция по лекарствата (ИАЛ) за всяка подозирана сериозна нежелана лекарствена реакция и да 
          предоставят при поискване допълнителна информация от проследяването на случая.
        </p>

        <p  style="line-height:28px;">
          <strong style="font-weight: 600;">Изпълнителна агенция по лекарствата (ИАЛ)</strong><br/>
          ул. Дамян Груев № 8<br/>
          1303, гр. София, Р. България<br/>
          тел.: +359 2 8903 417<br/>
          факс: +359 2 8903 434<br/>
          e-mail: <a href="mailto:bda@bda.bg">bda@bda.bg</a><br/>
          <a href="https://www.bda.bg/bg/формуляр-за-съобщаване-на-нежелани-лекарствени-реакции-от-медицински-специалисти" target="_blank">
            Формуляр за съобщаване на нежелани лекарствени реакции
          </a>
        </p>
        </div>
    <hr>
    <div class="belgian-proceed">
      <!-- <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
          <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a> -->
      <a class="btn btn-primary locale" href='/en-gb'>
        Proceed to training
        <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
      </a>
    </div>
    <hr>
  </div>
    
</section>
