<div class='row'>
  <div class='large-12 large-centered map'>
    <div class="belgian" style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>

      <br/>
      <p>
        Izobraževalno gradivo je pripravljeno z namenom zagotavljanja varne in
        učinkovite uporabe zdravila ter ustreznega obvladovanja določenih pomembnih
        tveganj in je odobreno s strani JAZMP (junij, 2023).
      </p>

      <br/>
      <h5 style="color: black">
        POROČANJE O DOMNEVNIH NEŽELENIH UČINKIH
      </h5>

      <div class="black-box">
        <p class="">
          Prosimo, da o domnevnih neželenih učinkih, ki jih opazite pri zdravljenju z
          zdravilom Vizamyl, poročate Nacionalnemu centru za farmakovigilanco prek
          spletnega obrazca ali na drug način naveden na spletni strani 
          <a href="https://www.jazmp.si/humana-zdravila/farmakovigilanca/porocanje-o-nezelenih-ucinkih-zdravil/" target="_blank">
            JAZMP
          </a>.
        </p>
      </div>

      <br/>
      <br/>

      <p>
        Za podrobnejše informacije o zdravilu preberite Povzetek glavnih značilnosti zdravila.
      </p>
      <br/>
      <br/>
      <br/>
      <p>
        Modules 1-3: Version 3, June 2023
        <br/>
        Quantification module: Version 2, June 2023
      </p>
    </div>

    <hr>
    <div class="belgian-proceed button-container">
      <a href="/en-gb" class="locale">
        <p class="language">Proceed to training</p>
        <i class="fi-arrow-right"></i>
      </a>
    </div>
  </div>
</div>
