<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Programme</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <p>
      <i><strong>Vizamyl PET Image Reader Training, verzija 2, siječanj 2023</strong></i>
    </p>

    <p>
      Ovaj edukacijski modul predstavlja edukacijski materijal koji je obavezan kao
      uvjet za stavljanje lijeka Vizamyl u promet, u cilju dodatne minimizacije
      važnih odabranih rizika.
    </p>
    
    <p>
      •Bez promidžbenog sadržaja.
    </p>
    <p>
      •Informacije navedene u ovom edukacijskom materijalu ne zamjenjuju one
      navedene u sažetku opisa svojstava lijeka koji sadrži flutemetamol(18F). Za
      potpune informacije prije primjene lijeka molimo da pročitate sažetak opisa
      svojstava lijeka (dostupanna <a href="https://www.halmed.hr/Lijekovi/Baza-lijekova" target="_blank">www.halmed.hr/Lijekovi/Baza-lijekova</a>).
    </p>
    <p>
      •Ovaj edukacijski materijal možete pronaći na internetskim stranicama
      Agencije za lijekove i medicinske proizvode (HALMED) u dijelu
      Farmakovigilancija/Mjere minimizacije rizika.
    </p>
    <p>
      Nakon dobivanja odobrenja lijeka važno je prijavljivanje sumnji na njegove
      nuspojave. Time se omogućuje kontinuirano praćenje omjera koristi i rizika
      lijeka. Sve sumnje na nuspojave potrebno je prijaviti Agenciji za lijekove i
      medicinske proizvode (HALMED). HALMED poziva zdravstvene radnike da
      prijave sumnje na nuspojave putem informacijskog sustava OPeN koji je
      dostupan na internetskim stranicama HALMED-a (<a href="https://open.halmed.hr" target="_blank">https://open.halmed.hr</a>).
    </p>

    <br/>
    <hr>
    <p> By continuing you agree you have read and understood this. </p>
    <hr>
    <br/>

    <div class="belgian-proceed">
      <!-- <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
        <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a> -->
      <a class="btn btn-primary locale" href='/en-gb?origin=hr'>
        Proceed to training
        <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
      </a>
    </div>
  </div>
</section>
