<div class='row'>
  <div class='large-12 large-centered map'>
    <div class="belgian" style="background: rgba(255,255,255, 0.5); min-height:650px;">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>

      <p> The European health authorities have imposed certain conditions to the
      marketing of the medicinal product Vizamyl. The risk minimisation
      activities in Belgium and Luxembourg, which include this information, have
      been taken to ensure the safe and effective use of Vizamyl (RMA version
      12/2020). </p>

      <p> This electronic training program contains important information to
      ensure accurate and reliable interpretation of PET images when using
      Vizamyl. </p>

      <p> Healthcare professionals should refer to the Summary of Product
      Characteristics for full prescribing information, including full
      up-to-date list of adverse reactions (appendix V), available on the
      website <a href="https://www.fagg.be">www.fagg.be</a>, section "PACKAGE INSERT
      and SmPC of a medicinal
      product". </p>

      <h3> Reporting adverse events: </h3>

      <p> <strong>For Belgium:</strong> Healthcare professionals are asked to
      report side effects associated with the use of Vizamyl to the
      Pharmacovigilance Department of the Federal Agency for Medicines and
      Health Products (FMHP). Reporting can be done by preference online via
        <a href="https://www.eenbijwerkingmelden.be">www.eenbijwerkingmelden.be</a>
        or
        <a href="https://www.notifieruneffetindesirable.be">www.notifieruneffetindesirable.be</a>
        or through
      the paper “yellow sheet" which is available upon request from the
      FAGG/AFMPS or which can be printed from their website. The completed
      yellow sheet can be sent by mail to the address FAGG - Vigilance
      department - Eurostation II - Place Victor Horta 40/40 - 1060 Brussels, by
        fax on 02/528.40.01 or by e-mail to: <a
        href="mailto:adr@fagg.be">adr@fagg.be</a> or <a
        href="mailto:adr@afmps.be">adr@afmps.be</a>

        <p><strong>For Luxembourg:</strong> au Centre Régional de
        Pharmacovigilance de Nancy, Bâtiment de Biologie Moléculaire et de
        Biopathologie (BBB), CHRU de Nancy – Hôpitaux de Brabois, Rue du Morvan,
          54 511 VANDOEUVRE LES NANCY CEDEX; E-mail: <a
        href="mailto:crpv@chru-nancy.fr">crpv@chru-nancy.fr</a>; Tél: (+33) 3 83 65 60
        85/87, ou à la Direction de la Sante - Division de la Pharmacie et des
        Médicaments, 20, Rue de Bitbourg, L-1273 Luxembourg-Hamm; Tél: (+35)2
        247 85593; E-mail: <a href="mailto:
        pharmacovigilance@ms.etat.lu">pharmacovigilance@ms.etat.lu</a>. </p>

        <p> Lien vers le formulaire de notification: <a href="https://guichet.public.lu/fr/entreprises/sectoriel/sante/medecins/notification-effets-indesirables-medicaments.html">https://guichet.public.lu/.../notification-effets-indesirables-medicaments
        </a></p>

        <hr></div>

        <p> By continuing you agree you have read and understood this. </p>

        <hr>
        <div class="belgian-proceed button-container">
          <a href="/en-gb" class="locale">
            <p class="language">Proceed to training</p>
            <i class="fi-arrow-right"></i>
          </a>
    </div>
  </div>
</div>
