<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Programme</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <p>
      <strong>Hlásenie podozrení na nežiaduce reakcie</strong>
      Hlásenie podozrení na nežiaduce reakcie po registrácii lieku je dôležité.
      Umožňuje priebežné monitorovanie pomeru prínosu a rizika lieku. Od
      zdravotníckych pracovníkov sa vyžaduje, aby hlásili akékoľvek podozrenia na
      nežiaduce reakcie na Štátny ústav pre kontrolu liečiv, Sekcia vigilancie, Kvetná
      11, SK-825 08 Bratislava, Tel: <a href="calto:+ 421 2 507 01 206">+ 421 2 507 01 206</a>, e-mail:
      <a href="mailto:neziaduce.ucinky@sukl.sk">neziaduce.ucinky@sukl.sk</a>. Tlačivo na hlásenie podozrenia na nežiaduci
      účinok lieku je na webovej stránke www.sukl.sk v časti Bezpečnosť
      liekov/Hlásenie podozrení na nežiaduce účinky liekov. Formulár na
      elektronické podávanie hlásení: <a href="https://portal.sukl.sk/eskadra/">https://portal.sukl.sk/eskadra/</a>.
    </p>

    <p>
      Podozrenia na nežiaduce reakcie môžete hlásiť aj MGP, spol. s r.o., Šustekova 2,
      85104 Bratislava, Tel: <a href="calto:+421 254 654 841">+421 254 654 841</a>, e-mail:
      <a href="mailto:farmakovigilancia@mgpslov.sk">farmakovigilancia@mgpslov.sk</a>.
    </p>

    <h3>SKRÁTENÁ PRESKRIPČNÁ INFORMÁCIA O LIEKU VIZAMYL 400 MBq/ml injekčný roztok</h3>
    
    <p>
      <strong>flutemetamol (18F)</strong><br>
      Prosíme, pred predpísaním lieku si pozrite úplný Súhrn charakteristických
      vlastností lieku (SPC). Ďalšie informácie sú dostupné na vyžiadanie.
    </p>
    <p>
      <strong>ZLOŽENIE:</strong> Injekčný roztok. Každý ml injekčného roztoku obsahuje v dni a
      čase kalibrácie 400 MBq flutemetamolu (18F).
    </p>
    <p>
      <strong>INDIKÁCIE:</strong> Tento liek je len na diagnostické použitie. Je indikovaný na
      vyšetrenie pozitrónovou emisnou tomografiou (Positron Emission
      Tomography, PET) na zobrazenie hustoty β-amyloidných neuritických plakov v
      mozgu dospelých pacientov s kognitívnou poruchou, ktorí sú vyšetrovaní na
      Alzheimerovu chorobu (Alzheimer disease, AD) alebo na iné príčiny
      kognitívnej poruchy. VIZAMYL sa má používať v spojení s klinickým
      vyšetrením.
    </p>
    <p>
      <strong>DÁVKOVANIE A SPÔSOB PODÁVANIA:</strong> Odporúčaná aktivita pre dospelých
      vrátane starších pacientov je 185 MBq flutemetamolu (18F) podaných
      intravenózne (ako bolus v priebehu približne 40 sekúnd). Objem injekcie má
      byť medzi 1 – 10 ml.
    </p>
    <p>
      <strong>KONTRAINDIKÁCIE:</strong> Precitlivenosť na liečivo alebo na ktorúkoľvek z
      pomocných látok.
    </p>
    <p>
      <strong>OSOBITNÉ UPOZORNENIA A OPATRENIA PRI POUŽÍVANÍ:</strong> Ak dôjde k
      prejavom hypersenzitivity alebo k anafylaktickej reakcii, podávanie okamžite
      prerušte. Snímky získané pomocou VIZAMYLU majú interpretovať iba
      vyškolení hodnotitelia, pomocou farebnej škály Sokoloff, Rainbow alebo inej
      podobnej spektrálnej farebnej škály.
      Pre uľahčenie vizuálneho odhadu distribúcie rádioaktívneho signálu sa môže
      použiť kvantitatívne hodnotenie intenzity kortikálneho rádioaktívneho signálu
      pomocou validovaného počítačového softvéru označeného značkou CE. V
      takom prípade majú byť používatelia výrobcom poučení o používaní softvéru
      označeného značkou CE. Pozitívny sken nie je sám osebe dostatočný na
      stanovenie diagnózy AD alebo iných kognitívnych porúch. V priebehu prvých
      24 hodín po podaní injekcie má pacient obmedziť blízky kontakt s dojčatami a
      gravidnými ženami. Použitie je potrebné vopred zvážiť pri pacientoch s
      poškodením obličiek alebo pečene alebo pri pacientoch s diétou s nízkym
      obsahom sodíka alebo trpiacich alkoholizmom.
    </p>
    <p>
      <strong>LIEKOVÉ A INÉ INTERAKCIE:</strong> Neuskutočnili sa žiadne interakčné štúdie in
      vivo.
    </p>
    <p>
      <strong>FERTILITA, GRAVIDITA A LAKTÁCIA:</strong> VIZAMYL má byť použitý v období
      gravidity len vtedy, ak pravdepodobný prínos výrazne presahuje riziko,
      ktorému je vystavená matka a plod. Na 24 hodín po injekcii má byť prerušené
      dojčenie a obmedzený blízky kontakt s dojčatami.
    </p>
    <p>
      <strong>NEŽIADUCE ÚČINKY</strong>
    </p>
    <p>
      <strong>Časté</strong> ( 1/100 až < 1/10): červenanie, zvýšený tlak krvi.
    </p>
    <p>
      <strong>Menej časté</strong> ( 1/1 000 až < 1/100): anafylaktoidná reakcia, úzkosť, závraty,≥
      bolesť hlavy, hypoestézia, hypotónia, dysgeúzia, chvenie, opuch oka, závrat,
      palpitácie, bledosť, dyspnoe, hyperventilácia, dráždenie v hrdle, nauzea,
      vracanie, dyspepsia, abdominálny diskomfort, orálny diskomfort, hypoestézia
      tváre, svrbenie, vyrážka, tuhnutie kože, opuch tváre, bolesť chrbta, tuhnutie
      svalov, bolesť svalov a kostí, erektilná dysfunkcia, pocit horúčavy, asténia,
      únava, nezvyčajné pocity, pocit chladu, bolesť v mieste infúzie, edém, horúčka,
      znížená koncentrácia glukózy v krvi, zvýšená koncentrácia
      laktátdehydrogenázy v krvi, zvýšenie počtu neutrofilov, zvýšená miera
      respirácie.
    </p>
    <p>
      <strong>Neznáme:</strong> rozvoj zhubných nádorov.
    </p>
    <p>
      <strong>DOZIMETRIA:</strong> Efektívna dávka u dospelého spôsobená podaním maximálnej
      odporúčanej aktivity 185 MBq pre dospelého s hmotnosťou 70 kg je približne
      5,9 mSv.
    </p>
    <p>
      <strong>DRŽITEĽ ROZHODNUTIA O REGISTRÁCII:</strong> GE Healthcare AS, Nycoveien 1,
      NO-0485 Oslo, Nórsko
    </p>
    <p>
      <strong>SPÔSOB VÝDAJA:</strong> Výdaj lieku je viazaný na lekársky predpis.
    </p>
    <p>
      <strong>REGISTRAČNÉ ČÍSLA:</strong> EU/1/14/941/001, EU/1/14/941/002
    </p>
    <p>
      <strong>DÁTUM REVÍZIE TEXTU:</strong> Január 2020
    </p>
    <p>
      <strong>Zastúpenie pre Slovenskú republiku:</strong> MGP, spol. s r.o., Šustekova 2, 85104
      Bratislava 5, tel. <a href="calto:+421 254 654 841">+421 254 654 841</a>
    </p>

    <br/>
    <hr>
    <p> By continuing you agree you have read and understood this. </p>
    <hr>
    <br/>

    <div class="belgian-proceed">
      <!-- <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
        <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a> -->
      <a class="btn btn-primary locale" href='/en-gb'>
        Proceed to training
        <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
      </a>
    </div>
  </div>
</section>
