<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h1 style="color: white;">Electronic Reader <br>Training Program</h1>
        <p>This site is intended for medical professionals only. To proceed, please select your country.</p>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <p>
      The European health authorities have imposed certain conditions to the
      marketing of the medicinal product Vizamyl. The risk minimisation
      activities in Belgium and Luxembourg, which include this information, have
      been taken to ensure the safe and effective use of Vizamyl (RMP version
      4.0/2022).
    </p>

    <p>
      This electronic training program contains important information to
      ensure accurate and reliable interpretation of PET images when using
      Vizamyl.
    </p>

    <p>
      Healthcare professionals should refer to the Summary of Product
      Characteristics for full prescribing information, including full
      up-to-date list of adverse reactions (appendix V), available on the
      website <a href="https://www.fagg.be">www.fagg.be</a>, section "PACKAGE INSERT
      and SmPC of a medicinal
      product".
    </p>

    <h3> Reporting adverse events: </h3>

    <p>
      <strong>For Belgium:</strong> Healthcare professionals are asked to
      report side effects associated with the use of Vizamyl to the
      Pharmacovigilance Department of the Federal Agency for Medicines and
      Health Products (FAMHP). Reporting can be done by preference online via
      <a href="https://www.eenbijwerkingmelden.be">www.eenbijwerkingmelden.be</a>
      or through the paper “yellow sheet" available in the public pharmacy and
      via the Folia Pharmacotherapeutica. The yellow sheet can be sent by post
      to the address FAGG – Vigilance department - Galileelaan 5/03, 1210
      BRUSSELS or electronically to &#8288;e-mail:
      <a href="mailto:adr@fagg.be">adr@fagg.be</a>
    </p>

    <p>
      <strong>For Luxembourg:</strong>
      Centre Régional de Pharmacovigilance de Nancy ou Division de la
      pharmacie et des médicaments de la Direction de la santé. Site internet :
      <a href="https://www.guichet.lu/pharmacovigilance">www.guichet.lu/pharmacovigilance</a>
    </p>

    <hr>

    <p> By continuing you agree you have read and understood this. </p>
    <hr>
    <div class="belgian-proceed">
      <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
        <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a>
    </div>
  </div>
</section>
