<div class='row'>
  <div class='large-12 large-centered map'>
    <div style="background: rgba(255,255,255, 0.5)">
      <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> (Flutemetamol F 18 Injection)</h1>
      <h2>Electronic Reader Training Program</h2>
      <p><span class='blue'>This site is intended for medical professionals only</span><br> To proceed, please select your country.</p>
      <%= render partial: 'errors/locale_links' %>
    </div>
  </div>
</div>
