
<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h1 style="color: white;">Electronic Reader <br>Training Program</h1>
        <p>This site is intended for medical professionals only. To proceed, please select your country.</p>
      </div>
    </div>
  </div>
</section>
<!-- ===================== COUNTRY-HERO AREA END ===================== -->

<!-- ===================== COUNTRY-NAME AREA START ===================== -->
<section id="country__area" class="country__area", style="margin-bottom:70px;">
  <div class="container">
    <div class="country__wrap">
      <div class="country__names">
        <%= render partial: 'helpers/locale_links' %>
      </div>
    </div>
  </div>
</section>

<%= render partial: 'footer' %>

