<div class="row">
  <div class="large-12 large-centered columns with-content with-minimum" style="padding-top: 250px;">
    <ul class="button-group even-3">
      <% I18n.available_locales.each do |locale| %>
        <li><%= link_to locale, "/#{locale}", class: 'button' %></li>
      <% end %>
    </ul>
  </div>
</div>
