<section id="country__hero__area" class="country__hero__area">
  <div class="container">
    <div class="country__hero__wrap">
      <div class="welcome__hero__content country_content">
        <h3>Vizamyl<sup>TM</sup> (Flutemetamol F 18 Injection)</h3>
        <h2>Electronic Reader Training Programme</h2>
      </div>
    </div>
  </div>
</section>

<section class="gatekeeper__blurb">
  <div class="container">
    <p>
      Feltételezett mellékhatások bejelentése<br/>
      A gyógyszer engedélyezését követően lényeges a feltételezett mellékhatások
      bejelentése, mert ez fontos eszköze annak, hogy a gyógyszer előny/kockázat profilját
      folyamatosan figyelemmel lehessen kísérni. Az egészségügyi szakembereket kérjük,
      hogy jelentsék be a feltételezett mellékhatásokat a hatóság részére az alábbi
      elérhetőségek valamelyikén keresztül.
    </p>

    <p>
      <strong>Magyarország</strong><br/>
      Nemzeti Népegészségügyi és Gyógyszerészeti Központ<br/>
      Postafiók 450<br/>
      H-1372 Budapest<br/>
      Honlap: <a href="https://www.nngyk.gov.hu" target="_blank">www.nngyk.gov.hu</a><br/>
      elektronikus úton történő mellékhatás-bejelentés: <a href="https://mellekhatas.nngyk.gov.hu" target="_blank">https://mellekhatas.nngyk.gov.hu</a><br/>
      e-mail: <a href="mailto:adr.box@nngyk.gov.hu">adr.box@nngyk.gov.hu</a>
    </p>

    <br/>
    <hr>
    <p> By continuing you agree you have read and understood this. </p>
    <hr>
    <br/>

    <div class="belgian-proceed">
      <!-- <a href="/en-gb" class="locale">
        <p class="language">Proceed to training
          &nbsp
        <i class="fa-solid fa-arrow-right"></i>
        </p>
      </a> -->
      <a class="btn btn-primary locale" href='/en-gb'>
        Proceed to training
        <span class="arrow-circle"><i class="fa fa-arrow-right-long arrow right"></i></span>
      </a>
    </div>
  </div>
</section>
