<div class="home row">
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
  </div>
  <div class="small-6 medium-6 large-6 columns with-content with-minimum">
    <h1>Welcome to the <br><strong>Vizamyl e-learning</strong> programme</h1>
    <p>If you are returning to the course, <br><strong>welcome back and please login.</strong></p>
    <p>If you would like to begin the course, <br><strong>welcome, and please enrole.</strong></p>
    <div class="button-container row">
      <div class="small-5 medium-5 large-5 columns">
        <a class="forward-icon" href="<%= new_user_session_path %>"><%= t('.login') %><i class="fi-arrow-right"></i></a>
      </div>
      <div class="small-7 medium-7 large-7 columns">
        <a class="forward-icon" href="<%= new_user_registration_path %>"><%= t('.enrole') %><i class="fi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
