<div class='row'>
  <div class='large-12 columns with-content with-minimum important-risk-and-safety-information'>
    <h3>
    Product Indications and Important Safety Information – Vizamyl
    </h3>
    <h6>
        PRODUCT INDICATIONS AND USE
    </h6>
    <p>VIZAMYL™
      (Flutemetamol F 18 Injection)
      is indicated for positron-emission tomography (PET) imaging of the
      brain to estimate &#946;-amyloid
      neuritic plaque density in adult patients with cognitive impairment
      who are being evaluated for Alzheimer's disease (AD) or other
      causes of cognitive decline. A negative scan indicates sparse to no
      neuritic plaques, inconsistent with a diagnosis of AD at the time of
      image acquisition. A negative scan result reduces the likelihood that
      a patient's cognitive impairment is due to AD. A positive scan
      indicates moderate to frequent amyloid neuritic plaques. This amount
      of amyloid neuritic plaque has been shown to be present in patients
      with AD but may also be present in patients with other neurologic
      conditions as well as in older people with normal cognition. Vizamyl
      is an adjunct to other diagnostic evaluations.
    </p>
    <p> <b>Limitations:</b> A positive scan does not establish a diagnosis of AD or other
      cognitive disorder. The safety and effectiveness of Vizamyl have not
      been established for predicting the development of dementia or other
      neurologic conditions or for monitoring responses to therapies.
    </p>
    <p>
      <b>
        Important Safety Information About VIZAMYL™ (Flutemetamol F 18 Injection)
      </b>
    </p>

    <h6>
        CONTRAINDICATIONS
    </h6>

    <ul>
      <li>
        <p>Known
          hypersensitivity to Vizamyl or any excipient, including polysorbate
          80</p>
      </li>
    </ul>

    <h6>
      WARNINGS AND PRECAUTIONS
    </h6>

    <ul>
      <li>
        <p>
          <b>Hypersensitivity
            Reactions: </b>Reactions
          such as flushing and dyspnea have been observed within minutes
          following administration and may occur in patients with no history
          of exposure to Vizamyl. Before administering Vizamyl, ask patients
          about prior reactions to drugs, especially those containing
          polysorbate 80. Have resuscitation equipment and trained personnel
          available
        </p>
      </li>
      <li>
        <p>
          <b>Risk for Image Misinterpretation and Other Errors:</b>
          Errors may occur while interpreting Vizamyl positron-emission
          tomography (PET) images. Image interpretation is performed
          independently of the patient's clinical information. The use of
          clinical information in the interpretation of Vizamyl images has not
          been evaluated and may lead to errors. Extensive brain atrophy may
          limit the ability to distinguish grey and white matter on a Vizamyl
          scan. Motion artifacts may distort the image.
          Images should be interpreted only by readers who have completed a
          reader training program available from GE Healthcare
        </p>
      </li>
      <li>
        <p>
          <b>Radiation
            Risk</b>: Like all
          radiopharmaceuticals, Vizamyl contributes to a patient's
          long-term, cumulative radiation exposure and cancer risk. Ensure
          safe handling to protect patients and healthcare workers from
          unintentional radiation exposure
        </p>
      </li>
    </ul>
    <h6>
        ADVERSE REACTIONS
    </h6>
    <ul>
      <li>
        <p>The
          most commonly reported adverse reactions in clinical trials were
          flushing (2%), increased blood pressure (2%), headache (1%), nausea
          and dizziness (1%)</p>
    </ul>
    <h6>
        DRUG INTERACTIONS
    </h6>
    <ul>
      <li>
        <p> Drug-drug interaction studies have not been performed in patients to
          establish the extent, if any, to which concomitant medications may alter
          Vizamyl image results</p>
      </li>
    </ul>
    <h6>
      USE IN SPECIFIC POPULATIONS
    </h6>
    <ul>
      <li>
        <p>
          <b>Pregnancy:</b>
          All radiopharmaceuticals, including Vizamyl, have potential to cause
          fetal harm. There are no available data on Vizamyl in pregnant woman
          to evaluate drug associated risk of major birth defects, miscarriage
          or adverse maternal or fetal outcome  Advise women about the
          potential for adverse pregnancy outcomes based on the radiation dose
          and gestational timing of exposure
        </p>
      </li>
      <li>
        <p>
          <b>Lactation:</b>
          There are no data on presence of flutemetamol or its metabolites in
          human milk. The benefits of breastfeeding should be considered along
          with the mother's clinical need for Vizamyl and any potential
          adverse effects on the breastfed child. Because many drugs are
          excreted in human milk and there is a potential for radiation
          exposure to nursing infants, advise a lactating woman to interrupt
          breastfeeding and pump and discard breast milk for 24 hours after
          administration to minimize radiation exposure to a breastfeeding
          infant
        </p>
      </li>
      <li>
        <p>
          <b>Pediatric
            Use:</b> Vizamyl is not
          indicated for use in pediatric patients
        </p>
      </li>
      <li>
        <p>
          <b>Geriatric Use:</b> No overall
          differences in safety were observed between older and younger
          subjects
        </p>
      </li>
    </ul>
    <h6>
        OVERDOSAGE
    </h6>
    <ul>
      <li>
        <p>The clinical consequence of overdosing with Vizamyl has not been
          reported. It is unknown whether or not flutemetamol is dialyzable. The
          major risks of overdosage relate to increased radiation exposure and
          long-term risk for neoplasia. In case of overdose of radioactivity,
          hydration and frequent urination should be encouraged</p>
      </li>
    </ul>
    <p>
      <b>Prior to Vizamyl administration, please read the full
        <a href='<%= asset_url("/pdfs/#{I18n.locale}/prescribing_information.pdf")%>' target="_blank">prescribing information</a>
        for additional Important Safety Information. </b>
    </p>
    <p>
      <b>To report SUSPECTED ADVERSE REACTIONS, contact GE Healthcare at 800 654
        0118 (option 2, then option 1) or the FDA at 800 FDA 1088 or
        www.fda.gov/medwatch.</b>
    </p>
    <p>
      JB68818USj May 2020
    </p>
  </div>
</div>
