<div class='important-risk-and-safety-information row'>
  <div class='large-12 columns with-content with-minimum'>
    <h1><%= link_to t('.title_html'), request.path %></h1>
    <%= t('.body_html') %>
    <p><b>Prior to Vizamyl administration, please read the <a href='<%= asset_url("/pdfs/#{I18n.locale}/prescribing_information.pdf")%>' target="_blank">Full Prescribing Information</a>.</b></p>
  </div>
</div>
