<div class='important-risk-and-safety-information row'>
  <div class='large-12 columns with-content with-minimum'>
    <h1><%= link_to t('.title_html'), request.path %></h1>
    <%= t('.body_html') %>
  </div>
</div>
