<section id="reference__area" class="reference__area">
  <div class="container">
    <div class="reference__wrap">
      <div class="reference__content">
        <div class='row'>
          <div class='col'>

            <h2>
              Product Indications and Important Safety Information – Vizamyl
            </h2>
            <h6><b>PRODUCT INDICATIONS AND USE</b></h6>
            <p>VIZAMYL is a radioactive diagnostic drug indicated for positron-emission tomography (PET) of the brain to estimate amyloid beta neuritic plaque density in adults with cognitive impairment for:</p>
            <ul>
              <li>Evaluation of Alzheimer’s disease (AD) and other causes of cognitive decline </li>
              <li>Selection of patients who are indicated for amyloid beta-directed therapy as described in the prescribing of information of the therapeutic products.</li>
            </ul>

            <h6><b>IMPORTANT SAFETY INFORMATION ABOUT VIZAMYLTM (FLUTEMETAMOL F18 INJECTION)</b><br>
              <b>CONTRAINDICATIONS</b>
            </h6>
            <ul><li>VIZAMYL is contraindicated in patients with a history of hypersensitivity reaction to VIZAMYL or polysorbate 80.</li></ul>

            <h6><b>WARNINGS AND PRECAUTIONS</b></h6>
            <ul><li><b>Anaphylaxis and Other Serious Hypersensitivity Reactions:</b> Serious hypersensitivity reactions including anaphylaxis, presenting with flushing, dyspnea, and hypotension have been observed within minutes following administration and may occur in patients with no history of exposure to VIZAMYL. Obtain a history of allergy or hypersensitivity reactions. Always have resuscitation equipment and trained personnel immediately available at the time of VIZAMYL administration. If a hypersensitivity reaction is suspected, immediately discontinue the injection and initiate appropriate therapy. VIZAMYL is contraindicated in patients with a history of hypersensitivity to VIZAMYL or polysorbate 80.</li>
              <li><b>Risk of Image Misinterpretation and Other Errors:</b> Errors may occur in the estimation of amyloid beta neuritic plaque density during VIZAMYL image interpretation.  The use of clinical information in the interpretation of VIZAMYL images has not been evaluation and may lead to an inaccurate assessment. Extensive brain atrophy and motion artifacts that distort the image may limit the ability to distinguish gray and white matter on a VIZAMYL scan. Perform image interpretation independently of the patient’s clinical information. For cases where there is uncertainty as to the location of cortical signal, use co-registered anatomical imaging to improve localization of signal or examine the striatum for VIZAMYL signal as it is less affected by atrophy.</li>
              <li><b>Radiation Risk:</b> VIZAMYL contributes to a patient’s long-term cumulative radiation exposure. Long-term cumulative radiation exposure is associated with an increased risk of cancer. Ensure safe drug handling to protect patients and health care providers from unintentional radiation exposure. Advise patients to hydrate before and after administration and to void frequently after administration.</li>
            </ul>

            <h6><b>ADVERSE REACTIONS</b></h6>
            <ul><li>In clinical studies, the most commonly reported adverse reactions were flushing (2%), increased blood pressure (2%), headache (1%), nausea (1%), and dizziness (1%). One subject out of 761 administered VIZAMYL experienced a serious hypersensitivity reaction with flushing, dyspnea and chest pressure within minutes following VIZAMYL. Postmarketing experience included anaphylactic reaction. Because these reactions are reported voluntarily from a population of uncertain size, it is not always possible to reliably estimate their frequency or establish a causal relationship to drug exposure.</li></ul>

            
            <h6><b>USE IN SPECIFIC POPULATIONS</b></h6>
            <ul><li><b>Pregnancy:</b> There are no available data on VIZAMYL in pregnant woman to evaluate drug associated risk of major birth defects, miscarriage or adverse maternal or fetal outcomes. All radiopharmaceuticals, including VIZAMYL, have the potential to cause fetal harm depending on the stage of fetal development and the magnitude of the radiation dose. If considering VIZAMYL administration to a pregnant woman, inform the patient about the potential for adverse pregnancy outcomes based on the radiation dose from the drug and the gestational timing of exposure.</li>
              <li><b>Lactation:</b> There are no data on the presence of flutemetamol F 18 or metabolites in human milk or its effects on the breastfed infant or milk production. Exposure of VIZAMYL to a breastfed infant can be minimized by temporary discontinuation of breastfeeding. The developmental and health benefits of breastfeeding should be considered along with the mother’s clinical need for VIZAMYL and any potential adverse effects on the breastfed child from VIZAMYL or from the underlying maternal condition.</li>
              <li><b>Pediatric Use:</b> The safety and effectiveness of VIZAMYL have not been established pediatric patients.</li>
              <li><b>Geriatric Use:</b> Of the 761 subjects in clinical studies of VIZAMYL, 447 (59%) subjects were 65 years of age or older, while 246 (32%) were 75 years of age or older. No overall differences in safety or effectiveness were observed between subjects 65 years or older and younger adult subjects.</li>
            </ul>

            <h6><b>OVERDOSAGE </b></h6>
            <ul><li>The major risks of overdosage relate predominantly to increased radiation exposure, with long-term risk for neoplasia. In the event of administration of a radiation overdose with VIZAMYL, hydration and frequent urination should be encouraged to minimize radiation exposure to the subject. It is unknown whether or not the flutemetamol is dialyzable.</li></ul>

            <p>
              <b>Prior to Vizamyl administration, please read the full
                <a href='<%= asset_url("/pdfs/#{I18n.locale}/prescribing_information.pdf")%>' target="_blank">prescribing information</a>
                for additional Important Safety Information. </b>
            </p>
            <p>
              <b>To report SUSPECTED ADVERSE REACTIONS, contact GE HealthCare at 800 654
                0118 (option 2 then option 1) or by email at <a href="mailto: GPV.drugsafety@gehealthcare.com">GPV.drugsafety@gehealthcare.com</a> or FDA at 800 FDA 1088 or
                www.fda.gov/medwatch.</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
