<div class='prescribing-information row'>
  <div class='large-6 columns with-content with-minimum'>
    <%= t('.left.body_html') %>
  </div>
  <div class='large-6 columns with-content with-minimum'>
    <%= t('.right.body_html') %>
  </div>
</div>
