<div class="prescribing-information row">
  <div class="large-6 columns with-content with-minimum">
    <h1><%= link_to t('.title'), request.path %></1>
  </div>
  <div class="large-6 columns with-content with-minimum">
  </div>
</div>
