<div class='references row'>
  <div class='large-6 columns with-content with-minimum'>
    <h1><%= link_to t('.left.title'), request.path %></h1>
    <%= t('.left.body_html') %>
  </div>
  <div class='no-title large-6 columns with-content with-minimum'>
    <%= t('.right.body_html') %>
  </div>
</div>
