<section id="reference__area" class="reference__area">
  <div class="container">
    <div class="reference__wrap">
      <div class="reference__content">
        <div class="row">
          <div class="col col-lg-5">
        <%= link_to(content_tag(:h2,t('.left.title')), request.path)%>
        <%= t('.left.body_html') %>
        <%= t('.right.body_html') %>
      </div>
    </div>
  </div>
</section>
