<div class='resources row'>
  <div class='large-12 columns with-content with-minimum'>
  <h2><%= t('.smpc_title')%></h2>
  <a href='<%= asset_url("/pdfs/#{I18n.locale}/smpc.pdf")%>' target="_blank"><div class='download-pdf-button'></div></a>
  <h2><%= t('.rainbow_title')%></h2>
  <a href='<%= asset_url("/pdfs/#{I18n.locale}/smpc.pdf")%>' target="_blank"><div class='download-pdf-button'></div></a>
  <div class="blue-bar"></div
  </div>
</div>
