<div class='resources row'>
  <div class='large-12 columns with-content with-minimum'>
  <h2><%= t('.download_title')%></h2>
  <a href="<%= asset_url('/pdfs/VIZAMYL-SmPC-UKAug2014.pdf')%>" target="_blank"><div class='download-pdf-button'></div></a>
  <div class="blue-bar"></div
  </div>
</div>
