<div class='resources row'>
  <div class='large-12 columns with-content with-minimum'>
  <h2><%= t('.download_title')%></h2>
  <a href="" target="_blank" class='download-pdf-button'><%= image_tag 'pdf-download.png' %></a>
  <div class="blue-bar"></div
  </div>
</div>
