{{#each question in content}}
  <div class='question'>
    <label>{{radio-button value=question name=view.name selection=view.value}}<div class='body'>{{{question.body}}}</div></label>
  </div>
{{/each}}
