<div class='locale-select'>
  <div class="row" style="margin:0 0 0 0;">
    <div class='large-3 left'>
      <hr>
      <%= render partial: 'errors/locale_block', locals: {locales: LoginLink.col_1 } %>
    </div>
    <div class="large-3 left">
      <hr>
      <%= render partial: 'errors/locale_block', locals: {locales: LoginLink.col_2 } %>
    </div>
    <div class="large-3 left">
      <hr>
      <%= render partial: 'errors/locale_block', locals: {locales: LoginLink.col_3 } %>
      <hr class="last">
    </div>
  </div>
  <div class="row" style="margin:4em 0 0 0;">
    <div class='large-3 left'>
      <hr>
      <a href="/en" class="locale">
        <p class="country">International English</p>
      </a>
      <hr>
    </div>
    <div class='large-9 left'>
      <hr>
      <a href="/en" class="locale">
        <p class="language">GE Healthcare Representatives Use Only.</p>
      </a>
      <hr>
    </div>
  </div>
</div>
