<% locales.reject{|l| l == :en }.each do |locale| %>
  <a href='<%= "/#{locale}" %>' class="locale">
    <p class="country"><%= {
      'en-gb': 'United Kingdom',
      'pt': 'Portugal',
      'it': 'Italy',
      'fr': 'France',
      'es': 'Spain',
      'de': 'Germany',
      'de-at': 'Austria',
      'nl': 'Netherlands'
    }.fetch(locale, locale) %></p>
    <p class="language"><%= {
      'en-gb': 'English',
      'pt': 'Portuguese',
      'it': 'Italian',
      'fr': 'French',
      'es': 'Spanish',
      'de': 'German',
      'de-at': 'German',
      'nl': 'Dutch'
    }.fetch(locale, locale) %></p>
  </a>
  <hr>
<% end %>
