<% locales.reject{|l| l == :en }.each do |locale| %>
  <a href='<%= "/#{locale}" %>' class="locale">
    <p class="country"><%= {
      'en-us': 'United States',
      'en-gb': 'United Kingdom',
      'pt': 'Portugal',
      'it': 'Italy',
      'fr': 'France',
      'es': 'Spain',
      'de': 'Germany',
      'de-at': 'Austria',
      'nl': 'Netherlands',
      'jp': 'Japan',
    }.fetch(locale, locale) %></p>
  </a>
  <hr>
<% end %>
