<form id="country-selector" action="" method="get" style="padding: 5px;">
  <label for="countries">Select your country:</label>
  <select id="countries" name="country_url" onchange="toggleNextButton()">
    <option value="" selected>Select a country</option>
    <% LoginLink.generate_links(request.host).each do |origin, details| %>
      <option value="<%= details[:url] %>">
        <%= LoginLink.col[origin][:country] %>
      </option>
    <% end %>
  </select>
  <button id="next-button" type="button" onclick="redirectToCountry()" disabled>Next</button>
</form>

<script>
  function toggleNextButton() {
    const select = document.getElementById('countries');
    const nextButton = document.getElementById('next-button');
    nextButton.disabled = !select.value;
  }

  function redirectToCountry() {
    const select = document.getElementById('countries');
    window.location.href = select.value;
  }
</script>