<div class='row'>
  <div class='large-12 large-centered map upgrade'>
    <h1>Vizamyl<sup class='trade-mark'>&trade;</sup> Flutemetamol <sup class='one-eight'>18</sup>F Injection</h1>
    <h2>Electronic training programme</h2>
    <p><span class='blue'>We're sorry but the browser your using is not supported</span><br>Please upgrade to the latest version of your browser, or consider using an alternative.</p>
    <h3>For any computer (Windows, Mac, Linux):</h3>
    <ul>
      <li><a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a></li>
      <li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a></li>
    </ul>
    <h3>For Apple Macs:</h3>
    <ul>
      <li><a href="http://www.apple.com/uk/support/safari/" target="_blank">Safari</a></li>
    </ul>
    <h3>For Windows 7 and Windows 8:</h3>
    <ul>
      <li><a href="http://windows.microsoft.com/en-GB/internet-explorer/ie-11-worldwide-languages" target="_blank">Microsoft Internet Explorer 11</a></li>
    </ul>
  </div>
</div>
