<footer>
  <div class="row">
    <div class="left">
      <p>&copy; 2014 General Electric Company - All rights reserved.</p>
      <p>GE and the GE monogram are trademarks of General Electric Company.</p>
      <p>VIZAMYL is a trademark of General Electirc Company or one of its subsidaries.</p>
    </div>
    <div class="right">
      <p>11-2014 JB6231/OS INT'L ENG</p>
    </div>
  </div>
</footer>
