<footer>
  <div class='terms row'>
    <div class='small-6 medium-6 large-6 columns'>
      {{{i18n layouts.application.copyright_html}}}
    </div>
    <div class='small-6 medium-6 large-6 columns'>
      {{{i18n layouts.application.reference_html}}}
    </div>
  </div>
</footer>
