<footer>
  <div class="progression row">
    <div class="small-6 medium-6 large-6 columns">
      <p>Chapter {{currentPage.chapter.position}}: {{currentPage.chapter.title}}  Page {{currentPage.position}}: {{currentPage.title}}</p>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <p>45%</p>
    </div>
  </div>
  <div class="terms row">
    <div class="small-6 medium-6 large-6 columns">
      <p>&copy; 2014 General Electric Company - All rights reserved.</p>
      <p>GE and the GE monogram are trademarks of General Electric Company.</p>
      <p>VIZAMYL is a trademark of General Electirc Company or one of its subsidaries.</p>
    </div>
    <div class="small-6 medium-6 large-6 columns">
      <p>11-2014 JB6231/OS INT'L ENG</p>
    </div>
  </div>
</footer>
