<footer id="footer__area" class="footer__area">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__content">
        {{{i18n layouts.application.copyright_html}}}
        {{{i18n layouts.application.reference_html}}}
      </div>
      <div class="footer__logo">
        <a href="#" class="footer-logo" aria-label="GE Logo"></a>
      </div>
    </div>
  </div>
</footer>
