<footer>
  <div class='container'>
    <div class='row'>
      <div class='d-flex flex-column justify-content-start'>
        {{{i18n layouts.application.copyright_html}}}
        {{{i18n layouts.application.reference_html}}}
      </div>
    </div>
  </div>
</footer>
