{{!-- <footer>
  <div class='container'>
    <div class='row'>
      <div class='d-flex flex-column justify-content-start'>
      </div>
    </div>
  </div>
</footer> --}}

<footer id="footer__area" class="footer__area">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__content">
        {{{i18n layouts.application.copyright_html}}}
        {{{i18n layouts.application.reference_html}}}
      </div>
      <div class="footer__logo">
        <a href="#">
          {{!-- <img src="{{asset-url 'ge-logo-purple-complete.png'}}" class="logo-gn" alt="GE Logo" /> --}}
          <%= image_tag('ge-logo-purple.png') %>
        </a>
      </div>
    </div>
  </div>
</footer>
