<div class="row">
  <div class="small-5 large-5 columns with-content with-minimum">
    <h1>{{title}}</h1>
  </div>
  <div class="small-7 large-7 columns with-media">
    <img src="http://placehold.it/570x480" class="img-responsive">
  </div>
  {{!-- {{partial 'actions'}} --}}
</div>
