<div class="row progresssion">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <h4>Module - Subject Area</h4>
      </div>
      <div class="large-6 columns">
        {{visual-progress}}
        <h4>{{totalPercent}}</h4>
      </div>
    </div>
  </div>
</div>
