<div class="row progression">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-6 columns">
        <h4>Module - Subject Area</h4>
      </div>
      <div class="large-6 columns">
        {{visual-progression total=total chapters=chapters}}
      </div>
    </div>
  </div>
</div>
