<div class='row progression'>
  <div class='small-6 medium-6 large-6 columns progression-title'>
    <h4>
      {{#if isSandbox}}({{currentPage.page_id}}){{/if}}{{currentPage.chapter.title}}{{#if currentPage.subject_area}}&nbsp;- {{currentPage.subject_area}}{{/if}}
    </h4>
  </div>
  <div class='small-6 medium-6 large-6 columns progression-visual'>
    {{visual-progression total=total chapters=visibleChapters}}
  </div>
</div>
