<li>{{#if question.object.correct}}{{question.correct_title_int}}{{else}}{{question.incorrect_title_int}}{{/if}} <div {{bind-attr class=':circle question.object.correct:correct:incorrect'}}></div></li>
