<div class="answer__content">
  <h6 {{bind-attr class=': question.object.correct:correct:incorrect'}}>
    {{#if question.object.correct}}
      {{question.correct_title_int}}
    {{else}}
      {{question.incorrect_title_int}}
    {{/if}}
  </h6>
</div>
