<div class="row text-page" {{bind-attr style="style"}}>
  <div class="small-12 medium-12 large-12 columns with-content with-minimum">
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac dapibus urna, sed finibus ipsum. Donec nisl augue, mattis eu leo non, sollicitudin efficitur justo. Morbi ultricies lobortis felis, a posuere odio venenatis a. Aenean mollis magna nulla, nec tristique justo ullamcorper in. Maecenas tempus diam at odio ornare hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sem ligula, ornare et suscipit non, pharetra convallis purus.</p>
    <div class="button-container row">
      <div class="small-12 medium-12 large-12 columns">
        <a {{bind-attr class=":right complete:enabled:disabled"}} href="/">Next<i class="fi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
