<div class='row text-page' {{bind-attr style='style'}}>
  <div class='small-12 medium-12 large-12 columns with-content with-minimum'>
    <h1>{{title}}</h1>
    {{{body}}}
    <div class='button-container row'>
      <div class='small-12 medium-12 large-12 columns'>
        <a {{bind-attr class=':right complete:enabled:disabled'}} href='/'>Next<i class='fi-arrow-right'></i></a>
      </div>
    </div>
  </div>
</div>
