<div class="row">
  <div class="small-5 large-5 columns with-content with-minimum">
    <h1>{{title}}</h1>
  </div>
  <div class="small-7 large-7 columns with-media">
    {{video-player finished="finished" mandatory=mandatory videoId=videoId}}
    <div class="button-container row">
      <div class="small-12 medium-12 large-12 columns ">
        {{finished}}
        <a class="right" href="/">Next<i class="fi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
