.application {

  .motion {
    background-repeat: no-repeat;
    background-position: left middle;
    @include retina-background-image("motion", 500px, 500px);
  }

  .home {
    div:first-of-type {
      @extend .motion;
    }

    h1 {
      margin: 50px 0;
      line-height: rem-calc(48);
      letter-spacing: rem-calc(1);
    }

    p {
      color: $primary-color;
      font-size: rem-calc(18);
      line-height: rem-calc(22);
      letter-spacing: rem-calc(1);
    }
  }

  .references {
    background-color: white;

    .columns {
      padding-top: rem-calc(20);
      padding-left: rem-calc(50);
      padding-right: rem-calc(50);
    }

    h1 {
      font-weight: bold;
      font-size: $h3-font-size;
      padding-bottom: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  .resources {
    background-color: white;

    .columns {
      padding-top: rem-calc(20);
      padding-left: rem-calc(50);
      padding-right: rem-calc(50);
    }

    h1 {
      font-weight: bold;
      font-size: $h3-font-size;
      padding-bottom: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  .prescribing-information {
    background-color: white;

    .columns {
      padding-top: rem-calc(20);
      padding-left: rem-calc(50);
      padding-right: rem-calc(50);
    }

    h1 {
      font-weight: bold;
      font-size: $h3-font-size;
      padding-bottom: rem-calc(16);
      line-height: rem-calc(30);
    }
  }

  .devise {
    div:first-of-type {
      @extend .motion;
    }
  }

  .sessions {

    .columns.with-content {
      padding-top: rem-calc(100);
    }

    .button-container {
      padding-top: rem-calc(20);
    }

    p {
      font-weight: bold;
      color: $primary-color;
      font-size: rem-calc(22);
      line-height: rem-calc(22);
      letter-spacing: rem-calc(1);
      padding-bottom: rem-calc(10);
    }

  }

  .registrations {

    .columns.with-content {
      padding-top: rem-calc(20);
    }

    .button-container {
      padding-top: rem-calc(15);
    }

  }


  .contact {
    background-color: white;

    .columns {
      padding-top: rem-calc(20);
      padding-left: rem-calc(50);
      padding-right: rem-calc(50);
    }

    h1 {
      font-weight: bold;
      font-size: $h3-font-size;
      padding-bottom: rem-calc(6);
      line-height: rem-calc(30);
    }

    h3 {
      font-size: $h5-font-size;
      color: #666;
      line-height: $h5-font-size;
      margin-bottom: 0;
    }

    p {
      margin-top: rem-calc(12);
      margin-bottom: 0;
    }

    .right {
      h3:first-of-type {
        margin-top: rem-calc(18);
      }

      p + p {
        margin-top: 0;
      }

      hr {
        margin: rem-calc(18) 0 rem-calc(18) 0;
      }
    }
  }
}
