.content {
  h1 {
    font-family: $global-font;
    color: $primary-color;
  }

  .home {
    h1 {
      margin: 50px 0;
      line-height: 48px;
      letter-spacing: 1px;
    }

    p {
      font-size: rem-calc(18);
      line-height: 22px;
      letter-spacing: 1px;
    }
  }

  .contact {
    background-color: white;

    .columns {
      padding-top: rem-calc(20);
      padding-left: rem-calc(50);
      padding-right: rem-calc(50);
    }

    h1 {
      font-weight: bold;
      font-size: $h3-font-size;
      padding-bottom: rem-calc(16);
      line-height: rem-calc(30);
    }

    h3 {
      font-size: $h5-font-size;
      color: #666;
      line-height: $h5-font-size;
      margin-bottom: 0;
    }

    p {
      margin-top: rem-calc(12);
      margin-bottom: 0;
    }

    .right {

      h3:first-of-type {
        margin-top: rem-calc(18);
      }

      p + p {
        margin-top: 0;
      }

      hr {
        margin: rem-calc(18) 0 rem-calc(18) 0;
      }
    }
  }
}
