.course {
  .columns.with-content {
    padding-top: 25px;
  }

  .columns.with-media {
    margin-top: 25px;
  }

  nav {
    li {
      color: #fff
    }
  }

  main {
    min-height: 580px;

    h1 {
      font-weight: bold;
      line-height: rem-calc(30);
      font-family: $global-font;
      font-size: $h3-font-size;
      color: $primary-color;
    }

    video {
      max-width: 100%;
      height: auto;
    }

    .video-mandatory {
      border: solid 2px red;
    }

    .video-optional {
      border: solid 2px lime;
    }
  }
}
