.course {
  .columns.with-content {
    padding-top: 25px;
  }

  .columns.with-media {
    margin-top: 25px;
  }

  nav {
    li {
      color: #fff
    }
  }

  main {
    min-height: 580px;

    h1 {
      line-height: rem-calc(30);
      font-family: $global-font;
      font-size: $h3-font-size;
      color: $primary-color;
    }

    .menu {

      .panel {
        background: none;
        border: none;
      }

      ol {
        list-style-type: none;
        margin:0 20px;

        li {
          padding: 0;
          margin: 0;

          h2 {
            margin: 0;
            padding: 10px;
            font-size: rem-calc(20);
            background: #005DBA;
            cursor: pointer;
          }

          a {
            color: white;
            font-weight: normal;
          }
        }

        .collapsed {
          margin-top: 1px;

          .panel-collapse {
            display: none;
          }

        }

        .selected {
          margin-top: 1px;
        }

        .unavailable {
          h2 {
            background-color: tint(#005DBA, 50%);
            cursor: default;
          }
          a {
            cursor: default;
          }
        }

      }

      ol.list-group {
        margin: 0 0 0 24px;

        li {
          margin: 1px 0 1px 0;
          vertical-align: middle;
          cursor: pointer;

          a {
            color: white;
            font-size: rem-calc(14);
            line-height: rem-calc(36);
            font-weight: normal;
          }

          h3 {
            margin: 0;
            padding: 0 12px;
            background: $primary-highlight;
            font-weight: normal;
          }

          i {
            font-size: rem-calc(24);
            line-height: rem-calc(36);
            padding-right: 5px;
            vertical-align: middle;
          }

        }
      }

    }

    @import 'course/_video';
    @import 'course/_text';
    @import 'course/_interactive';
    @import 'course/_question_intro';
    @import 'course/_test';
    @import 'course/_loading';

  }

  .progression {
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(4);
    padding-top: rem-calc(12);
    border-top: solid 1px $primary-highlight;
    height: 55px;

    .large-12 .columns {
      padding-left: 0px;
      padding-right: 0px;
    }

    h4 {
      padding-left: rem-calc(2);
      font-size: $h5-font-size;
      color: $primary-color;
    }

  }

  .visual-progression {
    padding-right: rem-calc(8);

    .progression-amount {
      padding-left: rem-calc(10);
    }

    .progression-blocks {
      @extend .inline-list;
      margin-top: rem-calc(3);

      li {
        margin-left: rem-calc(5);
        height: 100%;
        background-color: tint(#005DBA, 50%);
        min-width: rem-calc(38);
        color: white;
        text-align: center;
        font-size: $h6-font-size;
        font-weight: normal;

        a, a:hover {
          color:white
        }
      }

      li:first-child {
        margin-left: 0;
      }

      .available {
        background-color: $primary-color;
      }
    }
  }
}
