video::-webkit-media-controls {
  display:none !important;
}

.course {
  .columns.with-media {
    // padding-top: 100px;
    margin-top: 25px;
  }

  nav {
    li {
      color: #fff
    }
  }

  main {
    h1 {
      font-family: $global-font;
      font-size: rem-calc(32);
      color: $primary-color;
      margin: 20px 0 30px 0;
      line-height: 40px;
      letter-spacing: 1px;
    }

    video {
      max-width: 100%;
      height: auto;
    }
  }
}
