.gatekeeper {
  .map {
    padding-top: rem-calc(50);
    min-height: rem-calc(700);
    background-color: white;
    background-position: center;
    @include retina-background-image('map', 1000px, 800px);
  }

  h1, h2, h3, h5, ul, p {
    padding-left: rem-calc(40);
  }

  h1 {
    margin-bottom: 0;
    line-height: rem-calc(30);

    .one-eight {
      font-size: rem-calc(28);
    }

    .trade-mark {
      font-size: rem-calc(48);
      top: 0.1rem;
    }

  }

  h2 {
    font-weight: bold;
    margin-top: rem-calc(18);
    margin-bottom: rem-calc(50);
    font-size: rem-calc(54);
    line-height: rem-calc(30);
  }

  p {
    font-family: $global-font;
    font-size: rem-calc(22);
  }

  .blue {
    color: $primary-color;
  }

  .black-box {
    border: 1px solid black;
    padding: 20px;
    margin-left: rem-calc(40);
    margin-right: rem-calc(40);
    p {
      margin: 0px !important;
      padding: 0px !important;
    }
  }

  .error {
    h1, h2 {
      color: transparentize($primary-color, 0.8);
    }

    .blue {
      font-weight: bold;
    }
  }

  .upgrade {
    h1,h2 {
      color: transparentize($primary-color, 0.8);
    }

    h3 {
      font-size: rem-calc(20);
      color: #444;
    }

    ul {
      list-style-type: none;
      margin-left: 0;
    }

    ul li {
      font-size: rem-calc(18);
      color: #444;
    }

    .blue {
      font-weight: bold;
    }
  }

  .swiss-languages {
    display: inline;
    margin-top: 4em;
    padding: 1em 0 1em 0;

    .disclaimer {
      margin-bottom: .25em;
    }

     a {
       display:block;
       float: left;
     }
  }

  .belgian-proceed {
    margin-top: 4em;
    padding: 1em 0 1em 0;
    display: inline;
    p {
      display: inline;
    }
    i {
      position: relative;
      top: 4px;
    }
  }

  .locale-select {
    margin-top: rem-calc(40);

    hr {
      margin-top: rem-calc(10);
      margin-bottom: rem-calc(10);
    }

    .locale {
      width: 800px;

      p {
        font-size: rem-calc(16);
      }

      .country {
        min-width: 200px;
        display: inline-block;
        color: #444;
        margin-bottom: 0;
      }

      .language {
        display: inline-block;
        margin-bottom: 0;
      }

    }

    hr.last {
      margin-top: 45px;
    }
  }
  .belgian p {
    font-size: 1em;
    padding-right: 35px;
  }
  .swiss p {
    padding-right: rem-calc(60);
  }

  .customPage {
    nav {
      background-image: none;
      background-size: 100%;
      background-color: #6400a0;
      padding: 0;
      .container {
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
      }
      .nav {
        width: 802px;
        padding-left: 0;
        margin-bottom: 0;
        margin-left: 0;
        list-style: none;
      }
      .global-brand {
        margin-left: auto;
        padding-top: 0.9rem;
        margin-bottom: 1rem;
      }
      .navbar a.logo {
        font-family: 'geinspira';
        color: #FFF;
        font-size: 2em;
        font-weight: normal;
        line-height: 0;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;
      }
      .navbar .global-brand span {
        display: block;
        color: #FFF;
        font-size: 14px;
        line-height: 18px;
        sup {
          top: -0.3em;
        }
      }
    }
    .map {
      padding-top: 1.125rem;
      color: #6400A0;
      min-height: 400px;
      padding-left: 20%;
      padding-right: 20%;
      position: relative;
      margin-bottom: 100px;
      h4 {
        font-family: "Source Sans 3", serif;
        margin-top: 10%;
        margin-bottom: 42px;
        color: #6400A0;
        font-size: calc(1.275rem + 0.3vw);
        line-height: 1.2;
        font-weight: 500;
      }
      p {
        font-family: "Source Sans 3", serif;
        margin-top: 3.5rem;
        color: #6400A0;
        font-size: 1rem;
        line-height: normal;
        font-weight: 400;
        padding: 0;
        span.blue {
          color: #6400A0;
        }
      }
      label {
        display: none;
      }
      select {
        border-color: rgb(118, 118, 118);
        color: #000;
        margin: 0;
        width: 334px;
        height: 24px;
        padding: 0 10px;
        background-color: #fff;
        font-weight: 400;
      }
      #next-button {
        @include retina-background-image('arrow-right', 69px, 93px);
        background-size: 47px;
        background-repeat: no-repeat;
        background-position: 96% center;
        width: 157px;
        color: white;
        border: none;
        background-color: #6400a0;
        height: 56px;
        text-align: left;
        padding: 0 6px 0 22px;
        cursor: pointer;
        font-family: "Source Sans 3", serif;
        font-size: 33px;
        font-weight: 400;
        position: absolute;
        bottom: -100px;
        right: 15px;
      }
      #next-button:disabled,
      #next-button[disabled]{
        opacity: 0.3;
      }
    }
    .footer .row {
      border-top: solid 1px #6400a0;
      padding: 0 15px;
      display: flex;
      p {
        font-family: "Source Sans 3", serif;
        line-height: .9em;
        font-size: 0.8rem;
        color: #777;
        margin: 0 0 8px 0;
      }
      a {
        color: #6400a0;
      }
    }
  }
  #ge_footer_logo {
    @include retina-background-image('ge-health-logo', 200px, 200px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 175px;
    height: auto; /* Adjust height as needed */
    display: block;
  }

}
