.gatekeeper {

  .map {
    padding-top: rem-calc(50);
    min-height: rem-calc(800);
    background-color: white;
    background-position: center;
    @include retina-background-image('map', 771px, 452px);

  }

  h1, h2, p {
    padding-left: rem-calc(40);
  }

  h1 {
    margin-bottom: 0;
    line-height: rem-calc(30);

    sup {
      font-size: rem-calc(24);
      line-height: rem-calc(18);
    }

  }

  h2 {
    font-weight: bold;
    margin-top: rem-calc(18);
    margin-bottom: rem-calc(50);
    font-size: rem-calc(54);
    line-height: rem-calc(30);
  }

  p {
    font-family: $global-font;
    font-size: rem-calc(22);
  }

  .blue {
    color: $primary-color;
  }

  .locale-select {
    background: rgba(255, 255, 255, 0.75);
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    margin-left: 0;
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(15);
    text-align: center;
    list-style: none;
    padding: rem-calc(30) 0 rem-calc(30) 0;

    li {
      vertical-align: top;
      display: inline-block;
      margin-left: rem-calc(50);

      a {
        height: 60px;
        width: 60px;
        display: block;
        font-size: 0;
        @include retina-background-image('locales/fr', 60px, 60px);
      }

    }

    li:first-child {
      margin-left: 0;
    }

  }

  .locale-label {
    margin-left: 0;
    text-align: center;
    list-style: none;

    li {
      vertical-align: top;
      display: inline-block;
      width: 60px;
      margin-left: rem-calc(50);

      p {
        padding-left: 0;
        font-weight: normal;
        font-size: rem-calc(16);
      }

    }

    li:first-child {
      margin-left: 0;
    }
  }
}
