.menu {
  ol {
    list-style-type: none;
    margin:0 20px;

    li {

      padding: 0;
      margin: 0;

      h2 {
        margin: 0;
        padding: 10px;
        font-size: rem-calc(20);
        background: $chapter;
      }

      a {
        color: $chapter-text;
      }
    }
  }

  .row {
    margin-top: 30px;
  }

  .panel {
    border: none;
    padding: 0;
    background: none;
  }

  ol.list-group {
    margin: 0 0 0 24px;

    li {
      margin: 1px 0 1px 0;
      vertical-align: middle;

      a {
        color: $chapter-text;
        font-size: rem-calc(14);
        line-height: rem-calc(36);
      }

      h3 {
        margin: 0;
        padding: 0 12px;
        background: $subsection;
      }

      i {
        font-size: rem-calc(24);
        line-height: rem-calc(36);
        padding-right: 5px;
        vertical-align: middle;
      }

    }
  }
}
