/*===================== REUSABLE  CSS AREA START =====================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  font-family: 'Source Sans Pro';
  font-weight: normal;
}
html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > .ember-view {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  #bumper,
  .course__wrap {
    height: 100%;
  }
  .course__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

main {
  margin-top: 104px;
  flex: 1;
}
#bumper {
  padding-top: 30px;
}

.mainPage {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

button, input {
  border: none;
  outline: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
  padding: 0;
}
h1 {
  font-size: 30px;
  line-height: 40px;
}
h2 {
  font-size: 25px;
  line-height: 35px;
}
h3 {
  font-size: 20px;
  line-height: 30px;
}

p {
  font-family: 'Source Sans Pro';
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.11px;
}

a {
  text-decoration: none;
}

.textPurple {
  color: #6022A6
}

.black-box {
  border: 1px solid black;
  padding: 20px;
  margin-left: rem-calc(40);
  margin-right: rem-calc(40);
  p {
    margin: 0px !important;
    padding: 0px !important;
  }
}

// .btns {
//   text-decoration: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .btn-link {

// }

// a, button {
//   font-weight: bold;
// }

a.disabled,
button.disabled {
 pointer-events: none;
 color: #707070;
 cursor: not-allowed;
}

button {
  -webkit-font-smoothing: antialiased;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-width: 130px; // ← changed from `width`
  height: 45px;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  gap: 10px; // Add spacing between text and icon (optional)

  .arrow-circle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    i.arrow.right {
      color: #6022A6;
      font-size: 20px;
    }
  }
}

// .btn:hover,
// .btn:focus {
//   i.arrow.right {
//     color: $primary-color;
//   }
// }

.btn-primary,
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #6022A6;
  border: 2px solid #6022A6;
  color: #fff;
}
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: transparent!important;
  border: 2px solid #6022A6!important;
  color: #6022A6!important;
  .arrow-circle {
    background-color: #6022A6;
    i.arrow.right {
      color: #fff;
    }
  }
}

.btn-secondary,
.btn-secondary:disabled,
.btn-secondary.disabled {
  background-color: transparent;
  border: 2px solid #6022A6;
  color: #6022A6;
  .arrow-circle {
    background-color: #6022A6;
    i.arrow.right {
      color: #fff;
    }
  }
}
.btn-secondary:active,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #6022A6!important;
  border: 2px solid #6022A6!important;
  color: #fff!important;
  .arrow-circle {
    background-color: #fff;
    i.arrow.right {
      color: #6022A6;
    }
  }
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

/*===================== REUSABLE CSS AREA END =====================*/

/*===================== OFFCANVAS CSS AREA START =====================*/

.menu-close {
  font-size: 22px;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  transition: 0.4s;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.8;
  }
}

.offcanvas-area {
  position: fixed;
  left: -100%;
  height: 100%;
  width: 318px;
  z-index: 9999;
  padding-top: 35px;
  background: #6022A6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
  top: 0;
  overflow-y: scroll;

  &.active {
    left: 0;
    visibility: visible;
  }

  .main-menu ul li {
    a {
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      display: block;
      transition: 0.3s;
      padding: 16px 22px;
      border-bottom: 1px solid #fff;
      text-decoration: none;

      // &:hover {
      //   color: #000 !important;
      //   background: #fff;
      // }
      &:hover,
      &:focus,
      &.active {
        text-decoration: underline!important;
      }
    }

    &:first-child a {
      border-top: 1px solid #fff;
    }

    a {
      &:hover, &[aria-expanded="true"] {
        color: #d5d5d5;
      }
    }
  }
}

.offcanvas-menu .main-menu ul {
  display: block;
  padding-left: 0;
  margin-bottom: 35px;
  list-style: none;
}

.offcanvas-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 99;

  &.active {
    opacity: 0.6;
    visibility: visible;
  }
}

.offcanvas-area {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.offcanvas-menu {
  margin-top: 32px;
}

/*===================== OFFCANVAS CSS AREA END =====================*/

/*===================== HEADER CSS AREA START =====================*/

header#header__area {
  background: #6022A6;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 13px 0px 12px;
  z-index: 99;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // gap: 75px;

  // > a {
  //   display: inline-block;
  //   width: 169px;
  //   flex-shrink: 0;
  // }
}

.header__nav {
  // display: flex;
  // align-items: center;
  // gap: 75px;
  // flex-shrink: 0;
  // flex-basis: content;
  // margin-left: 25px;
  // max-width: 73%;

  ul {
    display: flex;
    align-items: center;
    // flex-shrink: 0;
    // gap: 5px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    li {
      margin: 0;
      a {
        color: #fff;
        font-size: 16px;
        padding: 10px 0;
        display: block;
        line-height: 24px;
        font-weight: 600;
        &:hover,
        &:focus,
        &.active {
          text-decoration: underline;
        }
      }
    }
    &.disable {
      li {
        a {
          pointer-events: none;
        }
      }
    }
  }

  // > ul li a {

  //   // &:hover {
  //   //   color: #cbcbcb;
  //   // }

  // }
}

// .logo_text {
//   width: 137px;
//   flex-shrink: 0;
// }

// .vizamyl_logo {
//   display: flex;
//   align-items: center;
// }

.burger_menu {
  // margin-left: 30px;

  a {
    color: #fff;
    font-size: 26px;
  }
}

.global_brand {
  // font-family: "geinspira";
  // color: #FFF;
  margin-bottom: 0;

  a {
    color: #FFF;
    padding: 0;
    text-transform: uppercase;
    font-size: 34px;
    line-height: normal;
    font-weight: 600;
    sup {
      top: -5px;
    }
  }

  span {
    display: block;
    color: #FFF;
    font-size: 14px;
    line-height: normal;
    font-weight: 600;
    sup {
      top: -3px;
    }
  }
}


/*===================== HEADER CSS AREA END =====================*/

/*===================== COUNTRY-HERO CSS AREA START =====================*/
section#country__area {
  margin-bottom: auto;
}

section#country__hero__area {
  background: #6022A6;
  padding: 50px 0px 34px;
  margin-bottom: 26px;
  
  .welcome__hero__content {
    > * {
      color: #fff;
    }

    // h3 {
    //   font-size: 50px;
    //   line-height: 93px;
    //   font-weight: 400;
    // }
  
    // color: #ffffff;
  
    // > {
    //   h1 {
    //     font-size: 101px;
    //     font-weight: 400;
    //     line-height: 98px;
    //     margin-bottom: 35px;
    //     span {
    //       font-size: 46px;
    //       font-weight: 400;
    //       line-height: 48px;
    //     }
    //   }
  
    //   p {
    //     font-size: 29px;
    //     font-weight: 300;
    //     line-height: 40px;
    //     max-width: 668px;
    //   }
    // }
  }
}

/*===================== COUNTRY-HERO CSS AREA END =====================*/

/*===================== COUNTRY-NAME CSS AREA START =====================*/

.country__names {
  a {
    background: #E4E4E4;
    color: #000;
    max-width: 426px;
    width: 100%;
    height: 101px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 29px;
  }

  #country-selector {
    label {
      // display: block;
      margin: 30px auto;
      font-size: 20px;
      line-height: normal;
    }
    select {
      width: 100%;
      max-width: 500px;
      margin-bottom: 50px;
      padding: 5px;
    }

    // .page__select__next__prev {
    //   text-align: right;
    // }
  }

  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // column-gap: 83px;
  // row-gap: 24px;
}

.gatekeeper__blurb {
  padding: 40px 0;
  h3 {
    color: $primary;
  }
  p {
    font-size: 20px;
    // margin-top: 9px;
    margin-bottom: 10px;
    line-height: 24px;
    img {
      width: 11px;
      margin-left: 5px;
    }
  }
}
/*===================== COUNTRY-NAME CSS AREA END =====================*/

/*===================== FOOTER CSS AREA START =====================*/
footer {
  .footer__wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 18px 0 30px;
    border-top: 1px solid $primary;

    .footer__content {
      p,
      a {
        font-size: 12px;
        line-height: 19px;
        max-width: 388px;
        margin-bottom: 0;
      }

      a {
        text-decoration: underline;
      }
    }

    .footer__logo {
      padding-bottom: 30px;
      // Used in ERB (image_tag)
      img {
        width: 250px;
        height: auto;
        display: block;
      }

      // Used in HBS (background-image)
      .footer-logo {
        width: 250px;
        height: 90px; // Set to match visual height of logo
        background-image: asset-url('ge-logo-purple.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        display: block;
      }
    }
  }
}


/*===================== FOOTER CSS AREA END =====================*/

/*===================== WELCOME-HERO CSS AREA START =====================*/

.welcome__hero__area {
  // padding: 30px 0;
  // margin-bottom: 150px;
  &.blue_hand {
    margin-bottom: 50px;
  }
}

// .welcomecontent h1 {
//   max-width: 956px;
// }

.welcome__hero__content.welcomecontent {
  // max-width: 1250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-bottom: 30px;

  > h1 {
    margin-bottom: 0;
  }
  > p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 0;
     b {
      font-weight: 600;
     }
  }
}

.welcome__hero__wrap {
  // display: flex;
  // align-items: end;
  // justify-content: space-between;
}

.welcome__hero__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  // justify-content: flex-end;
  // margin-top: -40px;
  // max-width: 1080px;

  a {
    // display: flex;
    // align-items: center;
    // gap: 6px;
    // font-size: 29px;
    // line-height: 40px;

    // img {
    //   width: 11px;
    // }
  }
}

// section.welcome__hero__area.blue_hand {
//   padding-top: 32px;
//   margin-bottom: 32px;
// }

// section.blue_hand {
//   .blue_hand_text {
//     p {
//       color: #000;
//     }
//     margin-bottom: 42px;
//   }

//   h2, h3 {
//     color: #6022A6;
//   }

//   .disclaimer {
//     width: 60%;
//     font-weight: bold;
//     letter-spacing: 0.0em;
//   }
//   .ge_logo {
//     img {
//       max-width: 120px;
//     }
//   }
//   .blue_hand_logo {
//     img {
//       max-width: 150px;
//       float: right;
//     }
//   }
// }
/*===================== WELCOME-HERO CSS AREA END =====================*/

/*===================== LOGIN-AREA CSS AREA START =====================*/
.login__content {
  h2 {
    margin-bottom: 30px;
  }
  
  p {
    font-size: 20px;
    // color: #000;
    // font-weight: 300;
    line-height: 30px;
    // max-width: 300px;
  }
  
  .login__part {
    // max-width: 628px;
    margin-bottom: 30px;
  
    form {
      // margin-top: 30px;
      // margin-bottom: 123px;
      div.input:not(.user_remember_me) {
        margin-bottom: 20px;
      }
      .form-check-input {
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-color: #000;
        margin-right: 8px;
      }
    }
  }
}

.four-b_style_question {
  .test_question {
    margin-bottom: 50px;
  }
}

.user_marketing_overall_opt_in {
  margin-bottom: 15px;
}

.fieldWrapper {
  margin-bottom: 15px;
}
.fieldCheckbox label {
  font-size: 16px!important;
}

.input,
.input_label,
.input.email.user_email,
.input.password.user_password {
  display: flex;
  flex-direction: column;
  gap: 11px;

  label {
    font-size: 22px;
    color: #000;
    input[type="checkbox"] {
      border-radius: 4px;
      min-width: 20px;
      height: 20px;
      margin-right: 10px;
      vertical-align: middle;
      border: 1px solid #707070;
      cursor: pointer;
    }
  }

  input {
    border: 2px solid #A9A9A9;
    border-radius: 4px;
    background: #E4E4E4;
    height: 46px;
    padding: 2px 10px;
  }
  &.error {
    small {
      color: #ea3e3e;
    }
    input {
      border: 2px solid #ea3e3e;
      background: #ffdcdc;
    }
  }
}

.input.email.user_email {
  margin-bottom: 20px;
}

.input_label {
  margin-bottom: 24px;

  &:nth-child(5) {
    margin-bottom: 0px;
  }
}

.remember__forget {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.remember {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;

  label {
    font-size: 22px;
    line-height: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: auto;
    cursor: pointer;
  }
}

.forget a {
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

// section#login__area {
//   padding-top: 20px;
// }

.checkbox_wrap {
  position: relative;
  width: 21px;
  height: 21px;
  border: 1px solid #707070;
  border-radius: 4px;
  padding: 1px;
  flex-shrink: 0;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:checked ~ .check_field {
      opacity: 1;
      visibility: visible;
    }
  }
}

.check_field {
  width: 100%;
  height: 100%;
  background: #6022A6;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
}

// div.user_remember_me {
//   display: none;
// }

.submit {
  margin-top: 30px;

  // button.login {
  //   font-size: 29px;
  //   background-color: #fff;
  //   color: #6022A6;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   input {
  //     background-color: white;
  //     color: #6022A6;
  //   }
  //   img {
  //     width: 13px;
  //     margin-left: 10px;
  //   }
  // }
}
/*===================== LOGIN-AREA CSS AREA END =====================*/

section#qi__area,
section#reference__area {
  flex: 1;
  display: flex;
  .container {
    flex: 1;
    display: flex;
    .reference__wrap {
      display: flex;
      flex-direction: column;
      width: 100%;
      .test_wrap.not_four-b_style_question.results__page {
        flex: 1;
      }
    }
  }
  &.interactive__area {
    .assessment__content {
      background: transparent;
      border-radius: 0;
      padding: 0;
      > * {
        color: #000;
      }
    }
  }
}

/*===================== ENROL CSS AREA START =====================*/

// .radio_buttons {
//   height: 42px;
// }

.form-group label,
.input_label label {
  font-size: 18px;
}
.form-group label {
  line-height: normal;
}

.radio_buttons label {
  display: inline-flex;
  align-items: center;
  margin: 0 15px 10px 0;
  padding: 0;
  font-size: 18px!important;
  color: #000!important;
  cursor: pointer;
}

.please-tick {
  font-weight: normal;
  font-size: 0.875rem;
  color: #999;
}

.enrolment {
  .form-check {
    .invalid-feedback, abbr[title="required"] {
      display: none;
    }
  }
}

.marketing_opt_in, .non_euro_enrol {
  p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.marketing-purposes {
  br {
    display: none;
  }
}

// .input_label input[type="radio"] {
//     height: 13px;
// }

/*===================== ENROL CSS AREA END =====================*/

/*===================== LANDING CSS AREA START =====================*/

// section#landing__area {
//   padding-top: 140px;
//   margin-bottom: 200px;
// }

// .welcome__hero__content h4 {
//   color: #6022A6;
//   font-size: 46px;
//   font-weight: 600;
// }

p.landing_para {
  color: #000;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  max-width: 961px;

  a {
    color: #000;
    font-weight: 600;

    img {
      width: 8px;
      margin-left: 4px;
    }
  }
}

.landing__enroll a {
  img {
    width: 11px;
    filter: brightness(66);
  }

  font-size: 29px;
  font-weight: 600;
  color: #fff;
  background: #6022A6;
  width: 148px;
  height: 50px;
  border-radius: 36px;
  gap: 9px;
  margin-left: auto;
}

p.landing_para {
  &.landing_para1, &:last-child {
    max-width: 1040px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}

/*===================== LANDING CSS AREA END =====================*/

/*===================== COURSE-NAME CSS AREA START =====================*/

// .collapsed {
//   background-color: #8D8D8D;
//   border-radius: 6px !important;
//   padding: 10px 19px !important;
//   color: #fff;
//   font-size: 15px;
//   font-weight: 600;
// }

.coursemenu__cards {
  max-width: 470px;
  margin-bottom: 30px;
  // display: flex;
  // flex-direction: column;
  // gap: 7px;
  .accordion {
    background-color: #6022A6;
    color: #fff;
    padding: 20px 10px;
    border-radius: 6px;
    .accordion-item {
      background-color: #6022A6;
      border: 0;
      .accordion-button {
        font-size: 20px;
        font-weight: 600;
        padding: 8px;
        line-height: normal;
        background: transparent;
        color: #fff;
        border: 0;
        box-shadow: none;

        &:after {
          display: none;
        }
      
        &:hover,
        &:focus,
        &[aria-expanded="true"] {
          text-decoration: underline;
          text-underline-offset: 4px;
          outline: 0;
          box-shadow: none;
        }
      }
      
      .course_toggle_content {
        padding: 0px 15px;
        
        .course__content {
          padding-bottom: 15px;
          a {
            display: block;
            padding-top: 10px;
            color: #fff;
            // border-bottom: 2px solid #D4D4D4;
            font-size: 16px;
            line-height: normal;
            cursor: pointer;
            // > i {
            //   font-size: 18px;
            // }
          
            // &:last-child {
            //   border-bottom: none;
            // }
            &:hover,
            &:focus {
              text-decoration: underline;
              text-underline-offset: 4px;
            }
          }
          
          > table {
            width: 100%;
          
            tbody tr td p {
              img {
                width: 10px;
              }
          
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 19px;
              max-width: 69px;
            }
          }
        }
      }
    }
  }
}



// .accordion-item {
//   background: #E4E4E4;
//   border-radius: 6px !important;
//   margin-bottom: 7px;
// }

// .accordion-button {
//   &::after, &:not(.collapsed)::after {
//     background-image: none;
//   }
// }

/*===================== COURSE-NAME CSS AREA END =====================*/

/*===================== MY-ACCOUNT CSS AREA START =====================*/

#account__area {
  .account__wrap {
    margin-bottom: 30px;
    
    h1 {
      margin-bottom: 15px;
    }
    
    .account__content {
      p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
      }

      p.accountp1 {
        margin-bottom: 15px;
      }

      p.accountp2 {
        margin-bottom: 16px;
      }

      p.accountp3 {
        color: #A9A9A9;
        font-size: 16px;
      }
      
      p.accountp4 {
        margin-top: 21px;
      }

    }

    .remember.accountcheck {
      margin: 10px 0px;
      gap: 13px;
    
      label {
        color: #6022A6;
        font-size: 15px;
      }
    }
    
    .edit_user {
      .marketing_options {
        .form-check {
          margin: 0px;
        }
      }
      .form-check {
        margin: 21px 0px;
        gap: 13px;
        .form-check-input {
          cursor: pointer;
        }
      }
      label {
        color: #6022A6;
        font-size: 15px;
        cursor: pointer;
      }
    }
    
    .account__solution {
      > span {
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
        color: #000;
        margin-bottom: 15px;
        display: block;
        label {
          font-size: 20px;
          color: #000;
          display: inline-flex;
          align-items: center;
        }
      }
      div.input {
        margin-bottom: 20px;
        label {
          color: #000;
          font-size: 20px;
        }
      }
    }
  }
}

// .account__content h6 {
//   font-size: 25px;
//   font-weight: 600;
//   margin-bottom: 23px;
// }

.solution__check {
  margin-top: 7px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.account_btn {
  margin-top: 65px;
}

/*===================== MY-ACCOUNT CSS AREA END =====================*/

/*===================== CONTACT CSS AREA START =====================*/

.contact__content {
  margin-bottom: 30px;

  h1 {
    margin-bottom: 15px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
  }
}

/*===================== CONTACT CSS AREA END =====================*/

/*===================== SUCCESS CSS AREA START =====================*/

.success__content {
  h2 {
    color: #6022A6;
    font-size: 23px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 35px;
    text-decoration: underline;
    img {
      width: 14px;
    }
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }
}

/*===================== SUCCESS CSS AREA END =====================*/

/*===================== VIDEO CSS AREA START  =====================*/

section#video__area {
  &.refresher__video {
    padding-top: 110px;
    margin-bottom: 80px;
  }
}

.video_viewpost {
  width: 100%;
}

.video__content {
  video {
    width: 100%;
  }
  h2 {
    color: #6022A6;
    font-size: 27px;
    font-weight: 600;
    line-height: 31px;
    margin-bottom: 35px;
    img {
      width: 14px;
    }
  }
  p {
    font-size: 20px;
    line-height: 28px;
    margin-top: 12px;
  }
  margin-bottom: 50px;
}

.video-page,
.text-page,
.test-page,
.video__area,
.reference__wrap,
.country__area {
  padding-bottom: 30px!important;

  .vizamyl-tag,
  .custom-tag {
    background-color: #6022A6;
    padding: 4px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff!important;
    font-size: 14px;
    display: inline-block;
  }
}

.video__area {
  .custom-tag {
    padding: 30px;
    font-size: 27px;
    font-weight: 600;
    line-height: 38px;
    border-radius: 10px;
  }
}

.video-page,
.text-page,
.reference__wrap,
.country__area {
  
  h1,
  h2 {
    margin-bottom: 30px;
  }
  p {
    ul {
      margin: 20px auto;
    }
  }

  .vizamyl-tag,
  .custom-tag {
    background-color: #6022A6;
    padding: 4px 15px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #fff!important;
    font-size: 14px;
    display: inline-block;
  }

  .media-wrapper {
    position: sticky;
    top: 104px;
    z-index: 2;
    padding-bottom: 70px;
    .worldImage {
      img {
        max-width: 500px;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .content-container,
  .media-container {
    padding-bottom: 30px;
    .content-footer {
      margin-top: auto;
      .page-abbreviations {
        margin-top: 100px;
      }
    }
  }

  .page-abbreviations {
    p {
      font-size: 15px;
      line-height: normal;
      margin: 0 auto;
    }
  }
}

.page__select__next__prev {
  margin-top: auto;
  // margin-right: 25px;
  // padding-top: 50px;
  text-align: right;
  position: relative;
  z-index: 2;
}

.video-page {
  .media-wrapper {
    top: 54px;
  }
}

.reference__wrap,
.country__area {
  .media-container {
    padding-bottom: 0;
  }
}

.video-page,
.text-page,
.country__area {
  .content-container,
  .media-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
}

/*===================== VIDEO CSS AREA END =====================*/


/*===================== Assessment Question Answer AREA START =====================*/

.assessment__wrap {
  padding-bottom: 50px;
}

.terms-and-conditions {
  padding: 0 15px;
}

/*===================== Assessment Question Answer AREA END =====================*/


/*===================== REFERENCE CSS AREA START =====================*/

.reference__content {
  margin-bottom: 30px;
  
  h1,
  h2 {
    margin-bottom: 15px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
  }

  .resource__file span {
    margin-bottom: 15px;
    display: block;
    font-size: 20px;
  }
  // .resource__file {
  //   margin-bottom: 15px;
  // }
  
  .resource__file__card {
    background: #6022A6;
    border-radius: 12px;
    width: 250px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 40px;
  
    img {
      width: 60px;
    }
  
    a {
      color: #fff;
      font-size: 20px;
      text-decoration: underline;
    }
  }
}

.standerd_contents {
  max-width: 735px !important;
  width: 100%;

  > p {
    max-width: 637px;
  }
}

// .reference__content {
//   // p:nth-child(2) {
//   //   margin-top: 23px;
//   // }
// }

// .resource__download {
//   display: flex;
//   flex-direction: column;
//   gap: 45px;
//   margin-bottom: 200px;
// }

/*===================== REFERENCE CSS AREA END =====================*/

// .page__select__next__prev {
//   a {
//     img {
//       width: 11px;
//     }

//     color: #6022A6;
//     font-size: 29px;
//     display: flex;
//     align-items: center;
//     gap: 9px;
//     cursor: pointer;

//     &.disabled {
//       color: #707070;
//       cursor: not-allowed;
//     }
//   }

//   margin-bottom: 24px;
//   display: flex;
//   align-items: flex-end;
//   justify-content: flex-end;
//   height: 100%;
// }

/*===================== Progress Indicator CSS AREA Start =====================*/
.progress_indicator {
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // background: #8D8D8D;
  padding: 10px 0;
  // border-radius: 9px;
  border-top: 1px solid #6022A6;

  > div {
    padding: 0 15px;
  }

  h4 {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .progress_wrapper {
    display: flex;
    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2px;
      padding: 0;

      li {
        display: inline-flex;
        &.available {
          span {
            background-color: #6022A6;
            color: #fff;
          }
        }

        span {
          color: #000;
          font-size: 12px;
          font-weight: 600;
          padding: 5px 10px;
          background: #fff;
          border-radius: 5px;
        }
      }
    }
    .progress-state {
      color: #6022A6;
      margin-left: 15px;
      display: flex;
      align-items: center;
    }
  }
}
/*===================== Progress Indicator CSS AREA END =====================*/