html.jp {
  // progression bar
  .course .progression .visual-progression .progression-blocks li {
    font-size: 0.8rem;
  }
  // Homepage text
  .care-of {
    span {
      font-weight: bold;
      font-size: 1.2em;
    }
    font-size: 0.7rem;
    line-height: 1.7em;
  }
}
