<p>Hello <%= @resource.email %>!</p>

<p>We have received a request to remind you of your login details for the Vizamyl electronic training programme.</p>

<p><%= link_to 'Please click here to reset your password.', edit_password_url(@resource, locale: I18n.locale, reset_password_token: @token) %></p>

<p>If you didn’t request this reminder, please ignore this email. Your password will not be changed until you access the link above and create a new one.</p>
<p>Thank you,</p>
<p>GE Healthcare</p>
