<p><%= t('.one', name: @resource.email)%> </p>

<p><%= t('.two') %></p>

<p><%= link_to t('.three'), edit_password_url(@resource, locale: I18n.locale, reset_password_token: @token) %></p>

<%= t('.four_html') %>
