<footer id="footer__area" class="footer__area">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__content">
			  <%= t('layouts.application.copyright_html') %>
			  <%= t('layouts.application.reference_html') %>
      </div>
      <div class="footer__logo">
        <a href="#">
          <!-- <%= image_tag('ge-logo-purple.png') %> -->
          <%= image_tag('ge-health-logo.png') %>
        </a>
      </div>
    </div>
  </div>
</footer>
