<footer id="footer__area" class="footer__area">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__content">
			  <%= t('layouts.application.copyright_html') %>
        <% if session[:origin].present? && session[:origin] == 'de' %>
          <p style="color: #6022A6;">VIZAMYL DE Version 3.1 – 052023</p>
			  <% end %>
        <%= t('layouts.application.reference_html') %>
      </div>
      <div class="footer__logo">
        <a href="#">
          <!-- <%= image_tag('ge-logo-purple.png') %> -->
          <%= image_tag('ge-health-logo.png') %>
        </a>
      </div>
    </div>
  </div>
</footer>
