<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'>
  <meta name='apple-mobile-web-app-capable' content='yes'>
  <title>VIZAMYL&#8482; Flutemetamol 18F Injection Electronic training programme</title>
  <%= csrf_meta_tags %>
  <link rel='dns-prefetch' href='//dki1hrtf104z9.cloudfront.net'/>
  <link rel='dns-prefetch' href='//cdn.jsdelivr.net'/>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href='//cdn.jsdelivr.net/videojs/4.11/video-js.min.css' rel='stylesheet'/>
  <script src='//cdn.jsdelivr.net/g/jquery@2.1,underscorejs@1.7,videojs@4.11,es5.shim@4.0'></script>
  <!--[if lt IE 9]>
    <script src='//cdn.jsdelivr.net/g/html5shiv@3.7,respond@1.4'></script>
  <![endif]-->
</head>
