<section id="video__area" class="video__area">
  <div class="container">
    <div class="video__wrap">
      <div class="video__content">
        <div class="row">
          <div class="col-md-5">
            <h2 class="custom-tag"><%= t('.title_html') %></h2>
            <p><%= t('.copy') %></p>
          </div>
          <div id="video-viewport" class="col-md-7 flex-row justify-content-start">
            <%- source = I18n.locale[0..1].upcase + '_AUofQ' %>
            <%= video_tag([
              "//#{Rails.application.secrets.content_host}/videos/#{source}/playlist.m3u8",
              "//#{Rails.application.secrets.content_host}/videos/#{source}/web.mp4",
              "//#{Rails.application.secrets.content_host}/videos/#{source}/web.webm"
            ], controls: true, autobuffer: true, size: '550x413') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
