<section id="quant__area" class="quant__area">
  <div class="container">
    <div class="quant__wrap">
      <div class="quant__content">
        <div class="row">
          <div class="col-md-4">
            <h2><%= t('.title_html') %></h2>
            <p><%= t('.copy') %></p>
          </div>
          <div id="video-viewport" class="col-md-8">
            <%- source = I18n.locale[0..1].upcase + '_AUofQ' %>
            <%= video_tag([
              "//#{Rails.application.secrets.content_host}/videos/#{source}/playlist.m3u8",
              "//#{Rails.application.secrets.content_host}/videos/#{source}/web.mp4",
              "//#{Rails.application.secrets.content_host}/videos/#{source}/web.webm"
            ], controls: true, autobuffer: true, size: '550x413') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
