<div class="course">
  <main>
    <div class="row page video-page">
      <div class="small-12 medium-12 large-12 columns with-content with-minimum">

        <video controls>
          <source src="//d9b6pacyuxd8k.cloudfront.net/out/vizamyl_refresher.<%= I18n.locale %>.m3u8"
                  type="application/vnd.apple.mpegurl" />
          <source src="//d9b6pacyuxd8k.cloudfront.net/out/vizamyl_refresher.<%= I18n.locale %>.mp4"
                  type="video/mp4" />
        </video>

      </div>
    </div>
  </main>
</div>
