<h1>Success</h1>
<meta http-equiv="refresh" content="3;<%= users_course_complete_path(format: :pdf) %>">
<p>You're course completion statement should automatically download, if not <%= link_to 'click here', users_course_complete_path(format: :pdf) %> </p>
