.passwords {

  div:first-of-type {
    @extend .motion;
  }

  .columns.with-content {
    padding-top: rem-calc(100);
  }

  .button-container {
    padding-top: rem-calc(20);
  }

  p {
    font-weight: bold;
    color: $primary-color;
    font-size: rem-calc(22);
    line-height: rem-calc(22);
    letter-spacing: rem-calc(1);
    padding-bottom: rem-calc(10);
  }

}
