.registrations {

  .columns {
    padding-top: rem-calc(20);
    padding-left: rem-calc(50);
    padding-right: rem-calc(50);
  }

  h1 {
    font-weight: bold;
    font-size: $h3-font-size;
    padding-bottom: rem-calc(18);
    line-height: rem-calc(30);
  }

  .my-account {
    padding-bottom: rem-calc(10);

    .input {
      padding: rem-calc(10) 0 rem-calc(10) 0;
    }

    .input + .input {
      padding: rem-calc(5) 0 rem-calc(10) 0;
    }

    input[type='checkbox'] {
      margin-bottom: 0;
    }

    p {
      margin-bottom: rem-calc(10);
    }

    label {
      font-weight: bold;
      font-size: rem-calc(20);
      line-height: 1;
    }

    .marketing-purposes {
      padding-top: rem-calc(20);
      line-height: 1.25;
    }

    .obligation {
      font-weight: normal;
      font-size: rem-calc(14);
      margin-left: rem-calc(24);
    }

    .small {
      color: #999;
      padding-top: rem-calc(10);
      padding-bottom: rem-calc(5);
      font-size: rem-calc(14);
    }

    .small-right {
      padding-left: rem-calc(22);
    }
  }

  .button-container {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(30);
  }

}
