<!DOCTYPE html>
<html lang='en'>
  <%= render partial: 'head' %>
  <body class='course'>
    <%= tag(:meta, content: UserSerializer.new(current_user).to_json(root: false), name: 'current-user') if user_signed_in? %>
    <%= render partial: 'ga' %>
    <%= javascript_include_tag :course %>
  </body>
</html>
